@use 'sass:map';
@use 'sass:math';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;

.booking-details-page {
  padding-left: var(--#{$prefix}-page-padding-x);
  padding-right: var(--#{$prefix}-page-padding-x);
  padding-top: var(--#{$prefix}-page-padding-y);
  padding-bottom: var(--#{$prefix}-page-padding-y);

  & > .flight-book-page-error-helm > .error-helm-stub {
    min-height: 140px;
    border-radius: map.get($borders-radius, '4');
  }

  .text-data-loading {
    height: 1em;
    min-width: 80px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .offer-details-breadcrumbs {
    .offer-details-breadcrumb {
      &:not(:last-child) {
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          color: var($css-var);
        }
      }

      &:last-child {
        @include with-theme-color('secondary') using($css-var) {
          color: var($css-var);
        }
      }
    }
  }

  .offer-details-summary {
    .offer-details-summary-price {
      @include with-theme-color('input-ctrl-primary') using($css-var) {
        color: var($css-var);
      }
    }
  }

  .booking-terms {
    margin-top: 64px;

    white-space: normal;
    word-break: break-word;

    @include with-theme-color('input-ctrl-primary') using($css-var) {
      color: var($css-var);
    }

    .booking-terms-title {
      @include with-header-font('4'); 
    }

    .booking-terms-section-title {
      @include with-header-font('5');
    }

    .booking-terms-payment-terms, .booking-terms-contacts {
      @include with-body-font('body-secondary');
    }
    
    .booking-terms-payment-terms {
      display: table;

      .booking-terms-payment-term {
        display: table-row;

        .booking-terms-payment-terms-bullet {
          display: table-cell;
          width: min-content;
  
          &::before {
            content: '• ';
            display: inline-block;
          }
        }
  
        .booking-terms-payment-terms-par {
          display: table-cell;
        }
      }    
    }

    .booking-terms-contacts-link {
      text-decoration: underline;
      white-space: nowrap;

      &:focus-visible {
        @include with-outline();
      }
    }
  }
}

.booking-ticket-container {
  width: auto;
  overflow-x: hidden;
}

.booking-ticket {
  $booking-ticket-border-radius: map.get($borders-radius, '4');
  $booking-ticket-border-thickness: 1px;

  display: grid;
  width: 100%;
  height: auto;
  gap: 0px;
  margin-left: auto;
  margin-right: auto;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  @include for-medium-and-large() {
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, auto);
  }
  @include for-extra-large-only() {
    grid-template-columns: auto 3fr minmax(250px, 2fr);
    grid-template-rows: repeat(3, auto);
  }

  .booking-ticket-general-div {
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    @include for-medium-and-large() {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  .booking-ticket-dates-div {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    @include with-theme-color('booking-ticket-dates-bg') using($css-var) {
      background-color: var($css-var);
    }
    
    @include for-medium-and-large() {
      grid-row-start: 1;
      grid-row-end: 4;
      border-top-left-radius: $booking-ticket-border-radius;
      border-bottom-left-radius: $booking-ticket-border-radius;
    }
  }
      
  .booking-ticket-details-div {
    display: block;
    height: auto;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    @include for-medium-and-large() {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
      
  .booking-ticket-codes-div {
    display: block;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    @include for-medium-and-large() {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
      
  .booking-ticket-image-div {
    display: none;
    width: 100%;
    height: 0;
    max-height: 0;

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;

    @include for-medium-and-large() {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include for-extra-large-only() {
      display: block;
      height: auto;
      max-height: unset;

      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  .booking-ticket-dates-container {
    display: flex;
    width: 100%;
    height: 100%;

    @include with-theme-color('booking-ticket-border') using($css-var) {
      border: $booking-ticket-border-thickness solid var($css-var);
      border-bottom: none;
      border-top: none;
      @include for-medium-and-large() {
        border: $booking-ticket-border-thickness solid var($css-var);
        border-top-left-radius: $booking-ticket-border-radius;
        border-bottom-left-radius: $booking-ticket-border-radius;
        border-right: none;
      }
    }

    .booking-ticket-dates {
      display: block;
      height: auto;
  
      align-self: center;
  
      width: min-content;
      margin-left: auto;
      margin-right: auto;

      @include with-theme-color('booking-ticket-dates-bg') using($css-var) {
        background-color: var($css-var);
      }

      @include for-medium-and-large() {
        width: 100%;
        margin-left: unset;
        margin-right: unset;
      }
  
      @include for-medium-and-large() {
        border-top-left-radius: $booking-ticket-border-radius;
        border-bottom-left-radius: $booking-ticket-border-radius;
        min-width: 246px;
      }
  
      .ticket-date-item {
        display: block;
        width: 100%;
        height: auto;
  
        .ticket-date-item-label {
          //width: auto;
          white-space: nowrap;
          display: block;
  
          @include with-header-font('3');
          @include with-theme-color('input-ctrl-primary') using($css-var) {
            color: var($css-var);
          }
        }
  
        .ticket-date-item-sub {
          white-space: nowrap;
          display: block;
          
          @include with-body-font('body-primary');
          @include with-theme-color('secondary') using($css-var) {
            color: var($css-var);
          }
          font-size: markup-to-rem(12px, 12px);
        }
      }
  
      .booking-ticket-dates-image {
        $booking-ticket-image-width: 26px;
        $booking-ticket-image-height: 92px;
  
        width: $booking-ticket-image-width;
        height: $booking-ticket-image-height;
        min-width: $booking-ticket-image-width;
        min-height: $booking-ticket-image-height;
  
        -webkit-mask-size: $booking-ticket-image-width $booking-ticket-image-height;
        mask-size: $booking-ticket-image-width $booking-ticket-image-height;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        vertical-align: middle;
        @include with-theme-color('booking-ticket-transition') using($css-var) {
          background-color: var($css-var);
        }

        margin-left: auto;
        margin-right: auto;
        @include for-medium-and-large() {
          transform: unset;
          margin-left: unset;
          margin-right: unset;
        }
      }
  
      .booking-flight-ticket-image {
        -webkit-mask-image: url('~/public/img/ticket-flight-transition.svg');
        mask-image: url('~/public/img/ticket-flight-transition.svg');
      }
  
      .booking-stay-ticket-image {
        -webkit-mask-image: url('~/public/img/ticket-stay-transition.svg');
        mask-image: url('~/public/img/ticket-stay-transition.svg');
      }
    }
  }
  
  .booking-ticket-general {
    $booking-ticket-avatar-size: 48px;

    display: grid;
    grid-template-columns: auto 2fr 3fr;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: auto;
    
    @include with-theme-color('booking-ticket-general-bg') using($css-var) {
      background-color: var($css-var);
    }

    white-space: normal;
    @include with-theme-color('input-ctrl-primary') using($css-var) {
      color: var($css-var);
    }

    border-top-left-radius: $booking-ticket-border-radius;
    border-top-right-radius: $booking-ticket-border-radius;
    @include with-theme-color('booking-ticket-border') using($css-var) {
      border: $booking-ticket-border-thickness solid var($css-var);
      border-bottom: none;
      @include for-medium-and-large() {
        border-top-left-radius: unset;
        border-left: none;
      }
    }

    .booking-ticket-general-avatar-div {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;

      display: inline-block;
      width: $booking-ticket-avatar-size;
      height: $booking-ticket-avatar-size;
      min-width: $booking-ticket-avatar-size;
      min-height: $booking-ticket-avatar-size;

      .booking-ticket-general-avatar {
        width: inherit;
        height: inherit;
        min-width: inherit;
        min-height: inherit;

        border-radius: 0.5 * $booking-ticket-avatar-size;
        overflow: hidden;

        .booking-ticket-general-avatar-img {
          border-radius: 0.5 * $booking-ticket-avatar-size;
        }

        &.booking-ticket-general-avatar-default {
          mask-image: url('~/public/img/icon-user.svg?raw&inline');
          -webkit-mask-image: url('~/public/img/icon-user.svg?raw&inline');
          -webkit-mask-size: contain;
          mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          vertical-align: middle;

          border-radius: 0.5 * $booking-ticket-avatar-size;
          
          @at-root {
            .booking-ticket-general-avatar-default {
              @include with-theme-color('input-ctrl-primary') using ($css-var) {
                background-color: var(#{$css-var});
              }
            }
          }
        }
      }
    }

    .booking-ticket-details-name-div {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      
      width: fit-content;
      height: auto;

      justify-self: flex-start;
      
      .booking-ticket-details-name {
        display: block;
        white-space: normal;
        word-break: break-word;

        @include with-header-font('5');  
      }

      .booking-ticket-details-name-sub {
        display: block;
        @include with-body-font('body-primary');
        font-size: markup-to-rem(14px);
      }
    }

    .booking-ticket-details-class {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;

      justify-self: flex-end;

      width: fit-content;
      height: auto;
      @include with-body-font('body-primary');
      font-size: markup-to-rem(14px);
      font-weight: map.get($weights-map, 'bold');
      text-align: end;
    }
  }

  .booking-ticket-details-container {
    display: block;
    width: 100%;
    height: 100%;

    @include with-theme-color('booking-ticket-border') using($css-var) {
      border: $booking-ticket-border-thickness solid var($css-var);
      border-bottom: none;
      border-top: none;
      @include for-medium-and-large() {
        border-left: none;
      }
    }
  }

  .booking-ticket-codes-container {
    width: 100%;
    height: 100%;
    display: block;

    @include with-theme-color('booking-ticket-border') using($css-var) {
      border-radius: $booking-ticket-border-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: $booking-ticket-border-thickness solid var($css-var);
      border-top: none;
      @include for-medium-and-large() {
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }

    .booking-ticket-codes {
      display: block;
  
      width: 100%;
      height: auto;

      border-radius: $booking-ticket-border-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      @include for-medium-and-large() {
        border-bottom-left-radius: 0;
      }

      .booking-ticket-codes-texting {
        display: inline-block;
        width: auto;

        .booking-ticket-codes-ek {
          display: block;
          white-space: nowrap;
          @include with-header-font('3');
          @include with-theme-color('input-ctrl-primary') using($css-var) {
            color: var($css-var);
          }
        }

        .booking-ticket-codes-sub {
          display: block;
          white-space: nowrap;
          @include with-body-font('body-primary');
          @include with-theme-color('primary') using($css-var) {
            color: var($css-var);
          }
          font-size: markup-to-rem(12px, 12px);
        }
      }
      
      .booking-ticket-codes-image {
        display: block;
        float: right;
        width: calc(min(80%, 330px));
        aspect-ratio: 248 / 81;
        height: auto;

        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-image: url('~/public/img/ticket-barcode.svg');
        mask-image: url('~/public/img/ticket-barcode.svg');
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          background-color: var($css-var);
        }

        @include for-small-and-above() {
          width: calc(min(60%, 330px));
        }
      }
    }
  }
  
  .booking-ticket-image-div {
    @include with-theme-color('booking-ticket-border') using($css-var) {
      border-radius: $booking-ticket-border-radius;
      border: $booking-ticket-border-thickness solid var($css-var);
    }

    .booking-title-image-waiting-indicator {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-items: center;
      align-items: center;
    }

    .booking-ticket-flight-gfx {
      display: block;  
      height: 100%;
      width: auto;

      .ticket-flight-gfx-container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
      }
    }


    .ticket-flight-gfx-canvas, .ticket-flight-gfx-controls {
      display: block;
      width: 100%;
      height: 100%;

      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .ticket-flight-gfx-controls {
      overflow: hidden;
      position: absolute;

      .ticket-flight-gfx-highlight {
        $ticket-flight-gfx-highlight-size: 136px;
        $ticket-flight-gfx-highlight-bg-size: 1.75 * $ticket-flight-gfx-highlight-size;

        display: block;
        position: absolute;
        width: $ticket-flight-gfx-highlight-size;
        height: $ticket-flight-gfx-highlight-size;

        -webkit-mask-size: $ticket-flight-gfx-highlight-bg-size $ticket-flight-gfx-highlight-bg-size;
        mask-size: $ticket-flight-gfx-highlight-bg-size $ticket-flight-gfx-highlight-bg-size;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-image: url('~/public/img/flight-region-highlight.svg');
        mask-image: url('~/public/img/flight-region-highlight.svg');
        @include with-theme-color('control-bg') using($css-var) {
          opacity: 0.5;
          background: radial-gradient(var($css-var) 0%, transparent 70%, transparent 100%);
        }
      }

      .booking-ticket-flight-label {
        $ticket-flight-label-img-size: 32px;
        $ticket-flight-label-arrow-width: 12px;
        $ticket-flight-label-arrow-height: 8px;
        
        z-index: 2;
    
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
    
        width: max-content;
    
        height: min-content;
        @include with-theme-color('shadow') using($css-var) {
          box-shadow: 0px 4px 16px var($css-var);
        }

        @include with-theme-color('body-bg') using($css-var) {
          background-color: var($css-var);
        }

        .booking-ticket-flight-arrow {
          display: block;
          position: absolute;
          width: $ticket-flight-label-arrow-width;
          height: $ticket-flight-label-arrow-height;

          -webkit-mask-size: $ticket-flight-label-arrow-width $ticket-flight-label-arrow-height;
          mask-size: $ticket-flight-label-arrow-width $ticket-flight-label-arrow-height;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          -webkit-mask-image: url('~/public/img/ref-arrow.svg');
          mask-image: url('~/public/img/ref-arrow.svg');
          @include with-theme-color('body-bg') using($css-var) {
            background-color: var($css-var);
          }

          &.arrow-top {
            translate: 15% -80%;
            left: 15%;
            top: 0;
          }

          &.arrow-bottom {
            scale: 1 -1;
            translate: 0% 80%;
            bottom: 0;
            right: 15%;
          }
        }

        .booking-ticket-flight-img {
          width: $ticket-flight-label-img-size;
          height: $ticket-flight-label-img-size;
          min-width: $ticket-flight-label-img-size;
          min-height: $ticket-flight-label-img-size;
    
          .static-image-stub {
            border-radius: map.get($borders-radius, '2');
          }
    
          img {
            background-size: cover;
            border-radius: map.get($borders-radius, '2');
          }
        }
      
        .booking-ticket-flight-texting {
          display: block;
          width: 100%;
          height: auto;
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }
      
          .booking-ticket-flight-username, .booking-ticket-flight-sub {
            display: block;
            width: auto;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            max-width: 160px;
            max-height: 60px;
          }

          .booking-ticket-flight-username {
            @include with-body-font('body-primary');
            font-weight: map.get($weights-map, 'bold');
          }

          .booking-ticket-flight-sub {
            font-size: markup-to-rem(14px);
          }
        }
      }
    }
    
    @at-root {
      .booking-ticket-stay-title {
        display: flex;  
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: fit-content;
  
        margin: auto;
        text-align: center;
  
        @include with-theme-color('primary') using($css-var) {
          color: var($css-var);
        }
  
        .booking-ticket-stay-name, .booking-ticket-stay-city {
          white-space: normal;
          word-break: break-word;
        }
  
        .booking-ticket-stay-name {
          @include with-ticket-stay-title();
          font-size: 26px;
          padding-bottom: 4px;
          @include with-theme-color('primary') using($css-var) {
            border-bottom: 1px solid var($css-var);
          }
        }
  
        .booking-ticket-stay-city {
          @include with-ticket-stay-title();
          font-size: 20px;
        }
      }
    }
  }
}

.booking-ticket-details {
  $ticket-details-item-texting-max-width: markup-to-rem(120px);
  $ticket-details-item-icon-size: 22px;
  $ticket-details-item-icon-padding: map.get($spacings, '2');
  $ticket-details-item-icon-container-size: calc($ticket-details-item-icon-size + 2 * $ticket-details-item-icon-padding);
  $ticket-details-item-size: calc($ticket-details-item-texting-max-width + $ticket-details-item-icon-container-size + map.get($spacings, '3'));

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax($ticket-details-item-size, 1fr));
  column-gap: map.get($spacings, '5');
  row-gap: map.get($spacings, '3');

  width: calc(max(fit-content, 100%));
  height: auto;
  min-height: 80px;
  
  .booking-ticket-details-item {
    display: inline-block;
    width: fit-content;
    max-width: $ticket-details-item-size;
    height: auto;

    .ticket-details-item-icon-container {
      display: inline-block;
      vertical-align: top;
      padding: $ticket-details-item-icon-padding;
      width: $ticket-details-item-icon-container-size;
      height: $ticket-details-item-icon-container-size;
      max-width: $ticket-details-item-icon-container-size;
      max-height: $ticket-details-item-icon-container-size;
      margin-top: 0.15rem;

      @include with-theme-color('booking-ticket-item-bg') using($css-var) {
        background-color: var($css-var);
      }

      .ticket-details-item-icon {
        width: $ticket-details-item-icon-size;
        height: $ticket-details-item-icon-size;
        max-width: $ticket-details-item-icon-size;
        max-height: $ticket-details-item-icon-size;
  
        -webkit-mask-size: $ticket-details-item-icon-size $ticket-details-item-icon-size;
        mask-size: $ticket-details-item-icon-size $ticket-details-item-icon-size;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        @include with-theme-color('booking-ticket-item') using($css-var) {
          background-color: var($css-var);
        }

        @include for-medium-and-large() {
          transform: unset;
          margin-left: unset;
          margin-right: unset;
        }
      }
    }

    .ticket-details-item-texting {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: max-content;

      .ticket-details-item-caption, .ticket-details-item-text {
        max-width: $ticket-details-item-texting-max-width;
        white-space: normal;
        word-break: break-word;

        display: block;
        width: auto;
        height: max-content;
      }

      .ticket-details-item-caption {
        @include with-theme-color('secondary') using($css-var) {
          color: var($css-var);
        }
        @include with-body-font('body-primary');
        font-weight: map.get($weights-map, 'semi-bold');
        font-size: markup-to-rem(14px);
      }

      .ticket-details-item-text {
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          color: var($css-var);
        }
        @include with-body-font('body-primary');
        font-size: markup-to-rem(12px, 12px);
      }
    }
  }
}  

.ticket-icon-calendar {
  -webkit-mask-image: url('~/public/img/icon-calendar.svg');
  mask-image: url('~/public/img/icon-calendar.svg');
}

.ticket-icon-timer {
  -webkit-mask-image: url('~/public/img/icon-timer.svg');
  mask-image: url('~/public/img/icon-timer.svg');
}

.ticket-icon-door {
  -webkit-mask-image: url('~/public/img/icon-door.svg');
  mask-image: url('~/public/img/icon-door.svg');
}

.ticket-icon-seat {
  -webkit-mask-image: url('~/public/img/icon-seat.svg');
  mask-image: url('~/public/img/icon-seat.svg');
}