@use "sass:map";
@use 'utils' as *; 
@use 'themes' as *;
@use 'system' as *;

$btn-icon-size: 16px;

.btn {
  @include with-theme-color('control-bg') using($css-var) {
    background-color: var($css-var);
  }
  @include with-theme-color('primary') using($css-var) {
    color: var($css-var);
  }
  padding: map.get($spacings, '3');
  border-radius: map.get($borders-radius, '1');
  
  white-space: normal;
  line-height: normal;

  &:focus-visible {
    @include with-outline();
  }
  &:not(.disabled):hover {
    filter: brightness($active-highlight-percent);
  }

  @include for-small-and-above() {
    white-space: nowrap;
  }
}

.btn-accent {
  @include with-theme-color('accent-bg') using($css-var) {
    background-color: var($css-var);
  }
  @include with-theme-color('accent') using($css-var) {
    color: var($css-var);
  }
}

.btn-support {
  @include with-theme-color('control-bg') using($css-var) {
    border: 1px solid var($css-var);
  }
  @include with-theme-color('primary') using($css-var) {
    color: var($css-var);
  }
  background-color: transparent;
}

.btn-picture {
  background-color: transparent;
  padding: 0;
}

.btn-icon {
  &::before {
    display: inline-block;
    width: markup-to-rem($btn-icon-size);
    height: markup-to-rem($btn-icon-size);
    margin-right: 4px;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    vertical-align: middle;
    
    @include with-theme-color('input-ctrl-primary') using($css-var) {
      background-color: var($css-var);
    }
  
    content: '';

    @at-root {
      .btn-icon.btn-accent::before {
        @include with-theme-color('accent') using($css-var) {
          background-color: var($css-var);
        } 
      }
    }
  }

  &.disabled {
    pointer-events: none;
    &::before {
      @include with-theme-color('ctrl-disabled') using ($css-var) {
        background-color: var($css-var);
      }
    }
  }

  &.btn-icon-only::before {
    margin-right: 0;
  }
}

