@use 'sass:map';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';

$search-flights-geo-swapbtn-size: 24px;
$search-offers-controls-height: 57px;
$search-offers-controls-icon-size: 21px;

$calendar-icon-size: 24px;

$travel-cities-swiper-xs-height: 420px;
$travel-cities-swiper-s-height: 420px;
$travel-city-card-xs-width: 296px;
$travel-city-card-s-width: 296px;

$travel-details-image-border-radius: 12px;
$travel-details-column-layout-bkp: 600px;
$travel-details-scrollbar-highlight-percent: 110%;

@mixin for-travel-details-medium() {
  @media only screen and (min-width: $travel-details-column-layout-bkp) {
    @content;
  }
}

.search-page-head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .search-page-head-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: flex-start;

    width: 100%;

    height: 499px;
    margin-bottom: 453px;
    @include for-small-and-above() {
      margin-bottom: 423px;
    }
    @include for-extra-large-only() {
      height: 599px;
      margin-bottom: 233px;
    }
    
    z-index: -1;
  }
}

.search-offers {
  display: block;
  width: 90%;
  max-width: 1230px;
  //height: 280px;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: flex-end;
  justify-self: center;

  border-radius: $search-page-control-radius;
  @include with-theme-color('shadow') using($css-var) {
    box-shadow: 0px 4px 16px var($css-var);
  }

  @include with-theme-color('body-bg') using($css-var) {
    background-color: var($css-var);
  }

  .search-offer-minimal-buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: stretch;

    @include for-extra-large-only() {
      flex-direction: row;
    }

    .search-offers-btn-minimum-show {
      width: 100%; 
      flex: 1 1 auto;
      @include for-extra-large-only() {
        width: auto;
        aspect-ratio: 2 / 1;
      }
    }
  }

  .search-offers-single-header {
    @include with-header-font('5');
    @include with-theme-color('input-ctrl-primary') using ($css-var) {
      color: var(#{$css-var});
    }
  }

  .search-offers-tab-control {
    box-shadow: unset;
    width: min-content;

    .option-button:first-child {
      .option-button-div {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  .search-offers-controls {
    //width: inherit;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 14px;

    gap: 16px;
    @include for-small-and-above() {
      gap: 24px;
    }

    @include for-extra-large-only() {
      flex-direction: row;
    }
  }

  .field-frame  {
    padding: 0px 10px 12px 10px;
    @include for-small-and-above() {
      padding: 0px 16px 14px 16px;
    }
  }

  .option-button-icon-airplane {
    -webkit-mask-image: escape-svg(svg.$icon-airplane);
    mask-image: escape-svg(svg.$icon-airplane);
  }

  .option-button-icon-bed {
    -webkit-mask-image: escape-svg(svg.$icon-bed);
    mask-image: escape-svg(svg.$icon-bed);
  }

  .search-flights-params {
    .dropdown-list-field-frame {
      height: $search-offers-controls-height;
      button {
        width: 100%;
        margin-top: 5px;
        text-align: left;

        &:focus-visible {
          @include with-outline();
        }
      }
    }

    button {
      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        color: var(#{$css-var});
      }
    }
    

    @at-root {
      .flight-params-controls {      
        .flight-params-class {
          width: 100%;
        }
      
        .flight-params-close-dropdown-btn {
          width: 100%;
        }
      }
    }
  }

  @at-root {
    .search-offers-dropdown-list-container {
      font-size: 14px;
    }

    .icon-increment::before {
      -webkit-mask-image: url('/img/icon-add.svg');
      mask-image: url('/img/icon-add.svg');
    }

    .icon-decrement::before {
      -webkit-mask-image: url('/img/icon-minus.svg');
      mask-image: url('/img/icon-minus.svg');
    }
  }
}

.search-flight-offers {
  width: 100%;

  .search-flights-geo {
    flex: 1 6 auto;
    width: 100%;
    height: $search-offers-controls-height;
    //min-width: 264px;

    .search-flights-geo-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 6px;

      .search-flights-geo-searchlists {
        flex: 1 1 auto;
  
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        justify-content: center;
  
        gap: 6px;

        .search-list-input {
          width: 100%;
        }

        .flights-geo-searchlists-sep {
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }
        }
      }

      .search-flights-geo-swap-div {

        &:focus-within {
          @include with-outline();
        }

        .search-flights-geo-swap {
          flex: 0 0 auto;
    
          width: $search-flights-geo-swapbtn-size;
          height: $search-flights-geo-swapbtn-size;
          -webkit-mask-size: $search-flights-geo-swapbtn-size;
          mask-size: $search-flights-geo-swapbtn-size;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          vertical-align: middle;
          @include with-theme-color('input-ctrl-primary') using($css-var) {
            background-color: var($css-var);
          }
    
          content: '';
          -webkit-mask-image: url('/img/icon-swap-horizontal.svg');
          mask-image: url('/img/icon-swap-horizontal.svg');
        }
      }
    }
  }

  .search-flights-triparams {
    flex: 1 5 auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    
    gap: 16px;
    flex-direction: column;
    @include for-small-and-above() {
      gap: 24px;
      flex-direction: row;
    }

    .search-flights-trip-type {
      flex: 1 3 auto;
      width: 100%;
      height: $search-offers-controls-height;
    }

    .search-flights-date-picker {
      flex: 2 2 auto;
      width: 100%;
    }
  }

  .search-flights-flightparams {
    flex: 1 7 auto;
    width: 100%;
    height: $search-offers-controls-height;
  }
  
  /* align input's vertically */
  .search-flights-geo .search-flights-geo-content  {
    margin-top: -2px;
  }
  .search-flights-flightparams button {
    margin-top: 3px;
  }
  .search-flights-date-picker .date-picker-field-btn, .search-flights-triparams .dropdown-list-btn {
    margin-top: 4px;
  }
}

.search-stay-offers {
  width: 100%;

  .search-stays-destination-frame {
    height: $search-offers-controls-height;
    flex: 2 1 auto;
    width: 100%;

    .search-stays-destination-div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      margin-top: 2px;
  
      .search-stays-destination {
        width: 100%;
    
        input {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
  
      .search-stays-destination-icon {
        width: $search-offers-controls-icon-size;
        height: $search-offers-controls-icon-size;
        min-width: $search-offers-controls-icon-size;
        min-height: $search-offers-controls-icon-size;
        -webkit-mask-size: $search-offers-controls-icon-size;
        mask-size: $search-offers-controls-icon-size;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        vertical-align: middle;
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          background-color: var($css-var);
        }
  
        content: '';
        -webkit-mask-image: escape-svg(svg.$icon-bed);
        mask-image: escape-svg(svg.$icon-bed);
      }
    }
  }

  .search-stays-dates {
    flex: 2 1 auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    
    gap: 16px;
    @include for-small-and-above() {
      gap: 24px;
    }

    flex-direction: column;
    @include for-small-and-above() {
      flex-direction: row;
    }

    .search-stays-checkin {
      width: 100%;
      height: $search-offers-controls-height;
    }

    .search-stays-checkout {
      width: 100%;
      height: $search-offers-controls-height;
    }
  }

  .search-stays-bookparams {
    width: 100%;
    flex: 1 1 auto;

    .search-stays-bookparams-frame {
      height: $search-offers-controls-height;
  
      .search-stays-bookparams-btn {
        width: 100%;
        text-align: left;
        margin-top: 5px;
    
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          color: var($css-var);
        }

        &:focus-visible {
          @include with-outline();
        }
      }    
    }
  }

  @at-root {
    .search-stays-bookparams-content {
      width: 100%;
      height: auto;
      font-size: 14px;

      .search-offers-counter {
        width: 100%;
  
        .search-offers-counter-caption {
          width: 100px;
          min-width: 100px;
        }
      }
    }
  }

  /* align input's vertically */
  .search-stays-checkout .date-picker-field-frame .date-picker-field-div .date-picker-field-btn, 
  .search-stays-checkin .date-picker-field-frame .date-picker-field-div .date-picker-field-btn {
    margin-top: 2px;
  }
}

.search-offers-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: right;
  align-items: center;

  font-size: 14px;

  @include for-small-and-above() {
    flex-direction: row;
    gap: 24px;
  }
    
  .search-offers-btn-promocode {
    border: none;
  }

  @at-root {
    .icon-paper-plane::before {
      -webkit-mask-image: url('/img/icon-paper-plane.svg');
      mask-image: url('/img/icon-paper-plane.svg');
    }

    .icon-plus-simple::before {
      -webkit-mask-image: url('/img/icon-plus-simple.svg');
      mask-image: url('/img/icon-plus-simple.svg');
    }

    .icon-magnifier::before {
      -webkit-mask-image: url('/img/icon-magnifier.svg');
      mask-image: url('/img/icon-magnifier.svg');
    }
  }
}

.date-picker-field-frame {
  height: $search-offers-controls-height;

  .date-picker-field-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -6px;
  }

  .date-picker-field-icon {
    width: $calendar-icon-size;
    height: $calendar-icon-size;
    min-width: $calendar-icon-size;
    min-height: $calendar-icon-size;
    -webkit-mask-size: $calendar-icon-size;
    mask-size: $calendar-icon-size;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    vertical-align: middle;
    @include with-theme-color('input-ctrl-primary') using($css-var) {
      background-color: var($css-var);
    }

    content: '';
  }

  .date-picker-field-btn {
    width: 100%;
    text-align: left;
    margin-top: 5px;

    @include with-theme-color('input-ctrl-primary') using ($css-var) {
      color: var(#{$css-var});
    }

    &:focus-visible {
      @include with-outline();
    }
  }

  .date-picker-field-div {
    .date-picker-field-btn {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    .date-picker-field-icon {
      margin-bottom: 5px;
    }
  }
  
  @at-root {
    .icon-calendar {
      -webkit-mask-image: url('/img/icon-calendar.svg');
      mask-image: url('/img/icon-calendar.svg');
    }
  }
}

.search-offers-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;

  .search-offers-counter-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .search-offers-counter-btn {
      width: $search-offers-controls-icon-size + 2;
      height: $search-offers-controls-icon-size + 2;
    }
    
    .search-offers-counter-value {
      min-width: 20px;
      text-align: center;
    }
  }
}

.page-section {
  margin-top: 40px;
  @include for-small-and-above() {
    margin-top: 80px;
  }

  .page-section-texting {
    @include with-body-font('body-primary');
    @include with-theme-color('primary') using($css-var) {
      color: var($css-var);
    }

    .page-section-subtext {
      @include with-body-font('regular');
    }
  }

  .page-section-content {
    margin-top: 24px;
    @include for-small-and-above() {
      margin-top: 40px;
    }

    &.content-padded {
      padding-left: var(--#{$prefix}-page-padding-x);
      padding-right: var(--#{$prefix}-page-padding-x);
    }

    & > .page-section-error-helm > .error-helm-stub {
      min-height: 140px;
      border-radius: map.get($borders-radius, '4');
    }
  }
  
  .page-section-controls {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 16px;

    padding-left: var(--#{$prefix}-page-padding-x);
    padding-right: var(--#{$prefix}-page-padding-x);

    @include for-small-and-above() {
      flex-direction: row;
    }

    a, button {
      align-self: flex-end;
    }
  }

  .page-section-button-tooltip {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.page-section-waiting-indicator {
  height: 100px;
}

.travel-cities-swiper {
  width: 100%;
  height: auto;

  min-height: $travel-cities-swiper-xs-height;
  @include for-small-and-above() {
    min-height: $travel-cities-swiper-s-height;
  }
}

.travel-city-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: $travel-city-card-xs-width;
  max-width: $travel-city-card-xs-width;
  min-height: $travel-cities-swiper-xs-height;
  @include for-small-and-above() {
    width: $travel-city-card-s-width;
    max-width: $travel-city-card-xs-width;
    min-height: $travel-cities-swiper-s-height;
  }
  border-radius: 20px;

  @include for-small-and-above() {
    width: $travel-city-card-s-width;
  }

  .travel-city-card-dim {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: linear-gradient(0deg, #000000AA 0%, #000000AA 20%, #00000055 25%, transparent 65%, transparent 100%);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .travel-city-card-details {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;
    height: auto;

    z-index: 3;

    align-self: flex-end;
    
    .travel-city-card-texts {
      color: white;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      gap: 8px;
      
      .travel-city-card-place-info {
        flex: 1 1 auto;
        width: 100%;
        height: auto;
        
        h4 {
          font-family: $font-default;
        }
      }

      .travel-city-card-price {
        flex: 0 1 auto;
        width: auto;
        height: auto;
        min-width: 60px;
        white-space: nowrap;

        @include with-header-font('4');
        font-family: $font-default;
      }
    }

    a.btn {
      width: 100%;
      display: block;
      text-align: center;

      &:focus-visible {
        @include with-outline();
        outline-color: white;
      }
    }
  }

  .travel-city-card-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    z-index: 1;

    width: 100%;
    height: 100%;
    .static-image-stub {
      border-radius: map.get($borders-radius, '3');
    }
    img {
      border-radius: map.get($borders-radius, '3');
    }
  }
}

.travel-details {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 24px;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  @include for-travel-details-medium() {
    grid-template-columns: minmax(250px, 2fr) 3fr;
    grid-template-rows: repeat(4, min-content);
  }
  @include for-medium-and-large() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  @include for-extra-large-only() {
    grid-template-columns: 8fr 7fr 7fr;
    grid-template-rows: auto auto;
  }

  .travel-details-frame-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .travel-details-frame {
      width: 100%;
      height: 100%;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
  
      z-index: 1;
      
      &.initialized {
        z-index: 2;
        opacity: 0;
  
        &.loaded:not(.fadein) {
          z-index: 3;
          opacity: 1;

          &.travel-details-texting-frame {
            opacity: 0;
            animation: travel-details-texting-frame-fadeout $transition-default-interval linear;
          }
        }
  
        &.fadein {
          z-index: 4;
          opacity: 1;
          animation: travel-details-frame-fadein $transition-default-interval linear;
        }
      }
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .travel-details-texting {
    width: 100%;
    height: 100%;
    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    @include with-theme-color('travel-details-texting') using ($css-var) {
      color: var(#{$css-var});
    }

    @include for-travel-details-medium() {
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    @include for-medium-and-large() {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include for-extra-large-only() {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    @include with-theme-color('control-bg') using ($css-var) {
      background-color: var($css-var);
    }

    /* custom scrollbar theme */
    .ps {
      .ps__rail-y, .ps__rail-x {     
        .ps__thumb-y, .ps__thumb-x {
          filter: brightness($travel-details-scrollbar-highlight-percent);
          @include with-theme-color('control-bg') using ($css-var) {
            background-color: var($css-var);
          }
        }
        
        &:hover, &.ps--clicking {
          .ps__thumb-y, .ps__thumb-x {
            filter: brightness($travel-details-scrollbar-highlight-percent);
            @include with-theme-color('control-bg') using ($css-var) {
              background-color: var($css-var);
            }
          }
        }
      }  
    }
    
    .text-data-loading {
      max-height: 2rem;
    }

    .travel-details-texting-frame {
      display: flex;
      flex-direction: column;
      gap: 12px;

      width: 100%;
      height: 506px;
      @include for-small-and-above() {
        height: 386px;
      }
      @include for-travel-details-medium() {
        height: 100%;
      }
      @include for-medium-and-large() {
        height: 326px;
      }
      @include for-extra-large-only() {
        height: 100%;
      }

      &.initializing {
        visibility: hidden;
      }

      .travel-details-texting-header {
        flex: 0 1 auto;
        
        .travel-details-texting-title {
          width: 100%;
          display: inline;
          overflow-wrap: anywhere;
          word-break: break-all;
  
          @include with-header-font('2');
          font-weight: bold;
        }
  
        .travel-details-texting-price {
          // fixed size for smooth fading
          width: 76px;
          height: 68px;
  
          display: inline;
          float: right;
  
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 2;
          grid-column-end: 3;
          @include for-medium-and-large() {
            grid-row-start: 1;
            grid-row-end: 4;
          }
          @include for-extra-large-only() {
            grid-column-start: 2;
            grid-column-end: 3;
          }
  
          text-align: center;
          @include with-theme-color('travel-details-ctrl-bg') using($css-var) {
            background-color: var($css-var);
          }
          @include with-theme-color('travel-details-ctrl') using($css-var) {
            color: var($css-var);
          }
  
          .travel-details-price-value {
            display: block;
            font-weight: map.get($weights-map, 'semi-bold');
            font-size: 20px;
          }
        }

        
      }

      .travel-details-texting-paragraph {
        width: 100%;
        height: 100%;

        flex: 1 1 auto;
        overflow: auto;

        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        @include for-travel-details-medium() {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        @include for-medium-and-large() {
          grid-column-start: 1;
          grid-column-end: 2;
        }
        @include for-extra-large-only() {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        @include with-body-font('body-secondary');

        p {
          width: 100%;
          height: 100%;
        }
      }

      .travel-details-book-btn {
        width: 100%;
        height: min-content;
        display: block;
        text-align: center;
        margin-top: auto;

        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
  
        @include with-theme-color('travel-details-ctrl-bg') using($css-var) {
          background-color: var($css-var);
        }
        @include with-theme-color('travel-details-ctrl') using($css-var) {
          color: var($css-var);
        }
      }
    }
  }

  .travel-details-image {
    width: 100%;
    aspect-ratio: 318 / 200;
    border-radius: $travel-details-image-border-radius;

    .static-image-stub, img {
      border-radius: $travel-details-image-border-radius;
    }
    
    &:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      @include for-travel-details-medium() {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      @include for-medium-and-large() {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      @include for-extra-large-only() {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
      } 
    }

    &:nth-child(2) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      @include for-travel-details-medium() {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      @include for-medium-and-large() {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      } 
      @include for-extra-large-only() {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
      } 
    }

    &:nth-child(3) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
      @include for-travel-details-medium() {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      @include for-medium-and-large() {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
      } 
      @include for-extra-large-only() {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      } 
    }

    &:nth-child(4) {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
      @include for-travel-details-medium() {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      @include for-medium-and-large() {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
      } 
      @include for-extra-large-only() {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
      } 
    }

    .error-helm {
      height: 100%;
      border-radius: $travel-details-image-border-radius;
      .error-helm-stub {
        border-radius: $travel-details-image-border-radius;
      }
    }
  }
}

@keyframes travel-details-frame-fadein {
  0% { 
    opacity: 0;
  }

  100% { 
    opacity: 1;
  }
}

@keyframes travel-details-texting-frame-fadeout {
  0% { 
    opacity: 1;
  }

  100% { 
    opacity: 0;
  }
}
