@use "sass:map";
@use 'system' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';


.favourites-page {
  padding-left: var(--#{$prefix}-page-padding-x);
  padding-right: var(--#{$prefix}-page-padding-x);
  padding-top: var(--#{$prefix}-page-padding-y);
  padding-bottom: var(--#{$prefix}-page-padding-y);

  @include with-theme-color('primary') using($css-var) {
    color: var($css-var);
  }

  & > .favourites-page-error-helm > .error-helm-stub {
    min-height: 140px;
    border-radius: map.get($borders-radius, '4');
  }

  .text-data-loading {
    height: 1em;
    min-width: 80px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
  }

  .favourites-page-title {
    @include with-header-font('3');
    @include with-theme-color('input-ctrl-primary') using($css-var) {
      color: var($css-var);
    }
  }

  .option-button-div {
    justify-content: center;
  }
  .option-button-text {
    display: none!important;
  }
  @include for-small-and-above() {
    .option-button-icon {
      display: none!important;
    }
    .option-button-text {
      display: block!important;
    }
  }
}
