@use 'sass:map';
@use 'sass:math';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;

$world-map-width: 1230;
$world-map-height: 505;
$world-map-canvas-min-width: 916px;

$world-city-img-xs-size: 40px;
$world-city-img-size: 50px;
$world-city-font-xs-size: 12px;
$world-city-font-s-size: 14px;
$world-city-font-size: 16px;


.flights-page-head {
  .heading-text {
    color: white;

    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    max-width: 80vw;
    @include for-small-and-above() {
      margin-top: 180px;
      margin-left: 100px;
      margin-right: unset;
      max-width: 60vw;
    }
    @include for-medium-and-large() {
      margin: 250px 0px 0px 126px;
    }
    @include for-large-and-extra-large() {
      margin-top: 160px;
      max-width: 50vw;
    }

    h1 {
      font-weight: bold;
    }

    p {
      font-weight: map.get($weights-map, 'medium');
      font-size: markup-to-rem(20px);
    }
  }

  .search-flights-page-head-overlay {
    background-image: linear-gradient(-90deg, transparent 0%, transparent 20%, #00234DAA 100%);
  }  
}

.world-map {
  @include with-theme-color('world-map-bg') using ($css-var) {
    background-color: var(#{$css-var});
  }
  
  width: 100%;

  max-height: 75vw;
  min-height: $world-map-canvas-min-width * math.div($world-map-height, $world-map-width) + 5px;
  @include for-small-and-above() {
    aspect-ratio: #{$world-map-width '/' $world-map-height};
  }

  .world-map-container {
    width: 100%;
    height: -webkit-fit-content; 
    overflow: auto;

    .world-map-content {
      aspect-ratio: #{$world-map-width '/' $world-map-height};

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      width: $world-map-canvas-min-width;
      max-width: $world-map-canvas-min-width;
      @include for-medium-and-large() {
        width: 100%;
        max-width: unset;
      }

      #worldMapCanvas {
        width: 100%;
        height: 100%;

        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;

        z-index: 1;
      }

      .world-map-city-label {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    
        z-index: 2;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;

        visibility: hidden;
    
        width: fit-content;
        max-width: 190px;

        height: min-content;
        @include with-theme-color('shadow') using($css-var) {
          box-shadow: 0px 4px 16px var($css-var);
        }

        @include with-theme-color('body-bg') using($css-var) {
          background-color: var($css-var);
        }

        font-size: markup-to-rem($world-city-font-xs-size);
        @include for-small-and-above() {
          font-size: markup-to-rem($world-city-font-s-size);
        }
        @include for-medium-and-large() {
          font-size: markup-to-rem($world-city-font-size);
          max-width: 240px;
        }

        &.visible {
          visibility: visible;
        }
      
        .world-map-city-label-img {
          width: $world-city-img-xs-size;
          height: $world-city-img-xs-size;
          min-width: $world-city-img-xs-size;
          min-height: $world-city-img-xs-size;
          @include for-large-and-extra-large() {
            width: $world-city-img-size;
            height: $world-city-img-size;
            min-width: $world-city-img-size;
            min-height: $world-city-img-size;
          }
    
          .static-image-stub {
            border-radius: map.get($borders-radius, '2');
          }
    
          img {
            background-size: cover;
            border-radius: map.get($borders-radius, '2');
          }
        }
      
        .world-map-city-info {
          width: 100%;
          height: 100%;
      
          .world-map-city-name {
            @include with-theme-color('secondary') using ($css-var) {
              color: var(#{$css-var});
            }
            @include with-body-font('category-caption');

            font-size: markup-to-rem($world-city-font-xs-size);
            @include for-small-and-above() {
              font-size: markup-to-rem($world-city-font-s-size);
            }
            @include for-medium-and-large() {
              font-size: markup-to-rem($world-city-font-size);
            }

            &:focus-visible {
              @include with-outline();
            }

            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 1.5px;
            }
          }

          .world-map-city-country {
            @include with-theme-color('input-ctrl-primary') using ($css-var) {
              color: var(#{$css-var});
            }
          }
        }
      }
    }
  }

  .error-helm {
    .error-helm-stub {
      border-radius: 0px;
    }
  }
  

  /* custom scrollbar theme */
  @include with-theme-color('control-bg-scrollbar') using ($css-var) { 
    .ps {
      .ps__rail-y, .ps__rail-x {     
        .ps__thumb-y, .ps__thumb-x {
          background-color: var(#{$css-var}); 
        }
        
        &:hover, &.ps--clicking {
          .ps__thumb-y, .ps__thumb-x {
            background-color: var(#{$css-var});
          }
        }
      }  
    }
  }
};
