@use 'sass:map';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';

$app-footer-centering-breakpoint: map.get($breakpoints, 's');

.app-footer {
  padding-top: 271px;

  .app-footer-div {
    padding-left: var(--#{$prefix}-page-padding-x);
    padding-right: var(--#{$prefix}-page-padding-x);

    @include with-theme-color('footer-bg') using ($css-var) {
      background-color: var($css-var);
    }    
  }
}

.app-footer-content {
  transform: translateY(-87px);
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: map.get($spacings, '3');
  @media only screen and (min-width: $app-footer-centering-breakpoint) {
    flex-direction: row;
    align-items: flex-start;  
  }

  .footer-section-main {
    order: 1;
    @media only screen and (min-width: $app-footer-centering-breakpoint) {
      order: 2;
    }
    flex: 0 0 auto;
    min-width: 200px;

    .footer-app-logo {
      display: block;
      width: markup-to-rem(120px);
      height: markup-to-rem(40px);

      margin-left: auto;
      margin-right: auto;
      @media only screen and (min-width: $app-footer-centering-breakpoint) {
        margin-left: unset;
        margin-right: unset;
      }

      background-image: url('/img/logo-footer.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;

      &:focus-visible {
        @include with-outline();
      }    
    }
  }

  .footer-social-links-list {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
    gap: 13px;
    
    justify-content: center;
    @media only screen and (min-width: $app-footer-centering-breakpoint) {
      justify-content: flex-start;
    }

    .footer-social-link {
      a {
        display: block;
        &:focus-visible {
          @include with-outline();
        }

        &::after {
          width: markup-to-rem(20px);
          height: markup-to-rem(20px);
          content: '';
          display: block;
          
          -webkit-mask-size: contain;
          mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
  
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            background-color: var($css-var);
          }
        }
      }

      .footer-social-icon-twitter::after {
        -webkit-mask-image: escape-svg(svg.$icon-twitter);
        mask-image: escape-svg(svg.$icon-twitter);
      }

      .footer-social-icon-youtube::after {
        -webkit-mask-image: escape-svg(svg.$icon-youtube);
        mask-image: escape-svg(svg.$icon-youtube);
      }
    }
  }

  .app-footer-grid {
    width: 100%;
    flex: 1 1 auto;

    order: 1;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    place-content: center;
    @media only screen and (min-width: $app-footer-centering-breakpoint) {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      place-content: unset;
      order: 2;
    }
  

    gap: 24px;
    @include for-medium-and-large() {
      gap: 50px;
    }

    .footer-section {
      li:first-child {
        margin-bottom:  16px;
        text-align: center;
        @media only screen and (min-width: $app-footer-centering-breakpoint) {
          text-align: left;
        }
    
        .footer-section-header {
          white-space: nowrap;
          @include with-body-font('5');
          font-size: markup-to-rem(16px);
          font-weight: bold;

          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }
        }
      }
    
      .footer-item {
        width: 100%;
        max-width: 290px;
        @include for-small-and-above() {
          max-width: 270px;  
        }
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
        @media only screen and (min-width: $app-footer-centering-breakpoint) {
          text-align: start;
          margin-left: unset;
          margin-right: unset;
        }

        &:not(:first-child) {
          margin-top: map.get($spacings, '2');
        }

        .footer-item-ctrl {
          width: min-content;
          white-space: nowrap;
          cursor: pointer;

          text-overflow: ellipsis;
          max-width: 100%;
          overflow: hidden;

          margin-left: auto;
          margin-right: auto;
          @media only screen and (min-width: $app-footer-centering-breakpoint) {
            margin-left: unset;
            margin-right: unset;
          }

          @include with-body-font('nav-control');
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var($css-var);
          }
      
          &:focus-visible {
            @include with-outline();
          }
        }
      }  
    }  
  }
}

.footer-item-tooltip {
  @include with-body-font('nav-control');
}

.subscribe-box {
  position: relative;
  transform: translateY(-151px);
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 90px;

  @include with-theme-color('subscribe-box-bg') using ($css-var) {
    background-color: var(#{$css-var});
  }

  h2 {
    text-align: center;
  }
  @include for-large-and-extra-large() {
    h2 {
      text-align: left;
    }
  }
  
  .subscribe-box-controls {
    flex: 1 1 auto;
    width:  100%;

    .subscribe-box-header {
      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        color: var(#{$css-var});
      }
    }

    .subscribe-box-caption {
      @include with-header-font('5');
      @include with-theme-color('primary') using ($css-var) {
        color: var(#{$css-var});
      }
    }

    .subscribe-box-text {
      display: block;
      @include with-theme-color('secondary') using ($css-var) {
        color: var(#{$css-var});
      }
    }

    .subscribe-box-input {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 8px;
  
      width: 100%;
      @media only screen and (min-width: 720px) {
        flex-direction: row;
        gap: 16px;
      }
  
      .email-field {
        padding: 14px 16px 14px 16px;
        @include with-body-font('input-control');
        background-color: white;
        color: #112211;
  
        flex: 1 1 auto;
        width: 100%;
      }
  
      .subscribe-box-btn {
        flex: 0 1 auto;
        width: 100%;
        @media only screen and (min-width: 720px) {
          width: min-content;
        }
      }
  
      & + .input-errors {
        padding-top: 10px;
      }
    }
  }

  .subscribe-box-image {
    flex: 0 1 auto;
    min-width: 300px;
    height: 100%;
    aspect-ratio: 4 / 3;

    display: none;
    @include for-large-and-extra-large() {
      display: block;
    }

    background-image: escape-svg(svg.$subscribe-mailbox);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}