@use 'sass:map';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';

$popular-city-card-width: markup-to-rem(370px);
$popular-city-card-xs-width: markup-to-rem(340px);
$popular-city-card-img-size: 90px;
$popular-city-card-height: 120px;
$popular-city-card-width-limit: 70vw;
$search-page-image-link-border-radius: 20px;

$review-card-swiper-xs-height: 506px;
$review-card-swiper-s-height: 586px;

$review-card-sz-xs-width: 325px;
$review-card-sz-s-width: 425px;
$review-card-sz-backface-xs-gap: 16px;
$review-card-sz-backface-s-gap: 26px;
$review-card-sz-header-height: 4rem;
$review-card-sz-body-height: 60px;
$review-card-sz-xs-height: calc(306px + $review-card-sz-header-height);
$review-card-sz-s-height: calc(378px + $review-card-sz-header-height);

.search-page-head-landing {
  border-radius: $search-page-control-radius;

  margin: 14px 14px 0px 14px;
  @include for-large-and-extra-large() {
    margin: 30px 30px 0px 30px;
  }

  .search-page-head-landing-overlay {
    background-image: linear-gradient(0deg, transparent 0%, #000000aa 100%);
  }

  .search-page-head-image {

    border-radius: $search-page-control-radius;
    img {

      border-radius: $search-page-control-radius;
    }
    .static-image-stub {
      border-radius: $search-page-control-radius;
    }
  }

  .search-page-head-content {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .heading-text {
    color: white;
    text-align: center;
    height: 100%;


    margin-top: 80px;
    @include for-small-and-above() {
      position: absolute;
      height: unset;
      max-height: unset;
      padding-bottom: unset;
      top: 180px;
      left: 0;
      right: 0;
      width: 100%;
    }
    @include for-medium-and-large() {
      top: 80px;
    }

    h2, h1 {
      font-weight: bold;
    }

    p {
      font-weight: map.get($weights-map, 'semi-bold');
      font-size: markup-to-rem(20px);
    }

    h2, h1, p {
      word-break: break-all;
      @include for-small-and-above() {
        word-break: normal;
      }
    }
  }
}

.popular-city-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax($popular-city-card-xs-width, 1fr));
  grid-template-rows: auto auto auto auto auto;
  grid-auto-rows: 0px;
  overflow: hidden;
  justify-content: center;
  @include for-medium-and-large() {
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax($popular-city-card-width, 1fr));
  }

  .popular-city-grid-item {
    width: 100%;
  }

  .popular-city-card {
    display: block;
    width: auto;
    height: $popular-city-card-height;
    max-height: $popular-city-card-height;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;

    @include for-small-and-above() {
      min-width: $popular-city-card-xs-width;
    }

    .popular-city-card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 16px;

      width: auto;
      height: 100%;
      overflow: hidden;
  
      @include with-theme-color('shadow') using($css-var) {
        box-shadow: 0px 4px 16px var($css-var);
      }
    
      .popular-city-card-img {
        width: $popular-city-card-img-size;
        height: $popular-city-card-img-size;
        max-width: $popular-city-card-img-size;
        max-height: $popular-city-card-img-size;

        flex: 1 0 auto;
  
        .static-image-stub {
          border-radius: map.get($borders-radius, '3');
        }
  
        img {
          background-size: cover;
          border-radius: map.get($borders-radius, '3');
        }
      }
    
      .popular-city-info {
        width: fit-content;
        height: max-content;

        flex: 0 1 auto;
    
        .popular-city-name {
          width: fit-content;
          height: auto;

          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: pre-wrap;
  
          @include with-theme-color('secondary') using ($css-var) {
            color: var(#{$css-var});
          }
          @include with-body-font('category-caption');
        }
  
        .popular-city-links {
          width: fit-content;
          height: auto;
          overflow: hidden;

          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          gap: 8px;
  
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }
  
          a:focus-visible {
            @include with-outline();
          }
  
          a:hover {
            text-decoration: underline;
            text-decoration-thickness: markup-to-rem(1.5px);
          }
        }
      }
    }
  }
}

.search-page-image-links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
  justify-content: center;

  @include for-large-and-extra-large() {
    flex-direction: row;
  }

  .search-page-image-link {
    width: 100%;
    max-width: 450px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @include for-small-and-above() {
      max-width: 650px;
    }

    .image-link-img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      aspect-ratio: 1 / 1;
  
      border-radius: $search-page-control-radius;
      img {
        border-radius: $search-page-control-radius;
        aspect-ratio: 1 / 1;
      }
      .static-image-stub {
        border-radius: $search-page-control-radius;
      }
    }
  
    .image-link-texting {
      z-index: 2;
      color: white;

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  
      align-self: flex-end;
      justify-self: center;
  
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      * {
        max-width: 80%;
      }

      p, h2 {
        text-align: center;
      }

      a {
        align-self: center;
        outline-color: white;

        &::before {
          transform: translateY(2px);
          vertical-align: baseline;
        }
      }
    }
  }

  .search-stays-page-link-overlay {
    background-image: linear-gradient(0deg, transparent 0%, #00000088 100%);
  }
}

.company-reviews-swiper {
  min-height: $review-card-swiper-xs-height;
  @include for-small-and-above() {
    min-height: $review-card-swiper-s-height;
  }
}

.company-review-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: $review-card-sz-xs-width;
  border-radius: 20px;

  @include for-small-and-above() {
    width: $review-card-sz-s-width;
  }

  .company-review-card-backface {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    
    border-radius: 20px;

    width: 100%;
    height: 100%;

    margin-left: $review-card-sz-backface-xs-gap;
    margin-top: $review-card-sz-backface-xs-gap;
    @include for-small-and-above() {
      margin-left: $review-card-sz-backface-s-gap;
      margin-top: $review-card-sz-backface-s-gap;
    }

    @include with-theme-color('review-card-backface-bg') using($css-var) {
      background-color: var($css-var);
    }
  }

  .company-review-card-frontface {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;

    border-radius: 20px;

    width: 100%;
    height: 100%;
    margin-right: $review-card-sz-backface-xs-gap;
    @include for-small-and-above() {
      margin-right: $review-card-sz-backface-s-gap;
    }    

    @include with-theme-color('shadow') using($css-var) {
      box-shadow: 0px 4px 16px var($css-var);
    }

    @include with-theme-color('body-bg') using($css-var) {
      background-color: var($css-var);
    }

    .review-card-header {
      font-weight: map.get($weights-map, 'bold');
      height: $review-card-sz-header-height;
      max-height: $review-card-sz-header-height;

      width: fit-content;
    
      overflow: hidden;
      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        color: var(#{$css-var});
      }
    }
  
    .review-card-scroll-container {
      position: relative;
      margin: auto;
      overflow: hidden;
      
      height: $review-card-sz-xs-height;
      max-height: $review-card-sz-xs-height;
      @include for-small-and-above() {
        height: $review-card-sz-s-height;
        max-height: $review-card-sz-s-height;
      }
  
      .review-card-content {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: stretch;
    
        .review-card-body {
          overflow: hidden;
          height: $review-card-sz-body-height;
          min-height: $review-card-sz-body-height;
      
          @include with-body-font('secondary');
          @include with-theme-color('secondary') using ($css-var) {
            color: var(#{$css-var});
          }
        }

        &.expanded {
          .review-card-body {
            -webkit-line-clamp: unset;
            overflow: unset;
            height: 100%;
            display: contents;
            max-height: unset;
          }
        }
    
        .review-expand-btn {
          align-self: flex-end;
    
          white-space: nowrap;
          font-family: $font-header;
          font-weight: map.get($weights-map, 'bold');
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }
    
          &:focus-visible {
            @include with-outline();
          }
        }
  
        .review-card-stars {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 12px;
      
          .review-card-star {
            width: 22px;
            height: 22px;
      
            background-image: url('/img/star.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      
        .review-card-userinfo {
          .review-card-user-name {
            font-family: $font-header;
            font-weight: map.get($weights-map, 'bold');
            @include with-theme-color('input-ctrl-primary') using ($css-var) {
              color: var(#{$css-var});
            } 
          }
      
          .review-card-user-company {
            @include with-body-font('entity-card-primary');
            @include with-theme-color('secondary') using ($css-var) {
              color: var(#{$css-var});
            } 
          }
        }
      
        .review-card-img {
          width: 100%;
          height: auto;
          justify-self: flex-end;
          margin-top: auto;
      
          border-radius: map.get($borders-radius, '3');
      
          .static-image-stub {
            border-radius: map.get($borders-radius, '3');
            height: 100%;
          }
          img {
            border-radius: map.get($borders-radius, '3');
            height: 100%;
          }
        }

        &.expanded {
          .review-card-img {
            margin-top: 40px;
          }
        }
      }
    }
  }
}

.company-reviews-section {
  .company-reviews-swiper {
    width: 100%;
    height: auto;
  }
}