@use 'sass:map';
@use 'sass:math';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;

$range-slider-margin: 0.75rem;
$range-slider-handle-size: 24px;
$range-slider-connect-thickness: 6px;
$range-slider-connect-opacity: 0.6;
$range-slider-tooltip-padding: 10%;

.offers-list-view {
  @include with-theme-color('primary') using($css-var) {
    color: var($css-var);
  }

  .offers-list-view-grid {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    gap: map.get($spacings, '3');

    @include for-medium-and-large() {
      grid-template-rows: min-content 1fr auto;
      grid-template-columns: minmax(290px, 1fr) 2fr;
    }
  }

  .filter-panel {
    width: 100%;
    height: 100%;

    display: block;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    @include for-medium-and-large() {
      grid-row-end: 3;
    }

    @include for-medium-and-large() {
      @include with-theme-color('control-frame') using($css-var) {
        border-right: 1px solid var($css-var);
      }
    }

    .filter-panel-header {
      display: block;
      white-space: nowrap;
      @include with-header-font('5');
    }

    .filter-panel-div {
      width: 100%;
      height: 100%;

      .filter-panel-buttons-div {
        width: 100%;
        height: 100%;

        padding: 0 8px 8px 8px;
        @include for-medium-and-large() {
          padding: 0 21px 8px 8px;
        }
      }
    }

    .filter-panel-scrollcontainer {
      width: 100%;
      overflow-y: auto;
      opacity: 1;

      .filter-panel-content {
        max-height: 300px;
        @include for-small-and-above() {
          max-height: 500px;
        }
        @include for-medium-and-large() {
          max-height: 880px;
        }
      }
    }

    .filter-section {
      display: block;

      @include with-theme-color('control-frame') using($css-var) {
        border-bottom: 1px solid var($css-var);
      }

      .filter-section-caption {
        @include with-body-font('primary');
      }

      .filter-section-content {
        display: block;
        padding-top: 20px;
      }

      .filter-noresults-stub {
        display: block;
        white-space: normal;
      }
    }

    .range-filter {
      display: block;

      .slider-control {
        margin-left: $range-slider-margin;
        margin-right: $range-slider-margin;

        --slider-height: 70px;
        --slider-radius: map.get($borders-radius, '1');
        --slider-bg: transparent;
        --slider-handle-height: #{$range-slider-handle-size};
        --slider-handle-width: #{$range-slider-handle-size};
        --slider-tooltip-px: 0.3rem;
        --slider-tooltip-py: 0.2rem;
        --slider-tooltip-font-weight: map.get($weights-map, 'medium');

        @include with-theme-color('control-bg') using ($css-var) {
          --slider-connect-bg: var(#{$css-var});
          --slider-handle-bg: var(#{$css-var});
        }
        @include with-theme-color('badge') using ($css-var) {
          --slider-tooltip-bg: var(#{$css-var});  
        }

        @include with-theme-color('primary') using ($css-var) {
          --slider-tooltip-color: var(#{$css-var});
        }
        
        .slider-base {
          padding-top: 55px - $range-slider-connect-thickness * 0.5;
        }

        .slider-connects {
          height: $range-slider-connect-thickness;
          opacity: $range-slider-connect-opacity;
        }

        .slider-origin {
          margin-top: 20px;

          &:nth-child(2) {
            .slider-tooltip {
              transform: translateX(calc($range-slider-tooltip-padding * -1.0 + var(--#{$prefix}-slider-left-handle-pos) * (-100% + #{$range-slider-tooltip-padding})));
              &::before {
                display: none; //TODO: find a way to correctly position arrow
              }
            }
          }

          &:last-child {
            .slider-tooltip {
              transform: translateX(calc($range-slider-tooltip-padding * -1.0 + var(--#{$prefix}-slider-right-handle-pos) * (-100% + #{$range-slider-tooltip-padding})));
              &::before {
                display: none; //TODO: find a way to correctly position arrow
              }
            }
          }
        }
      }

      .slider-trackline {
        height: 2px;
        margin-left: markup-to-rem($range-slider-handle-size) * 0.5;
        margin-right: markup-to-rem($range-slider-handle-size) * 0.5;
        z-index: 0;
        transform: translateY(-16px);

        @include with-theme-color('control-frame') using($css-var) {
          background-color: var($css-var);
        }
      }

      .range-limits {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        width: 100%;

        font-size: markup-to-rem(12px, 12px);
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          color: var($css-var);
        }
      }
    }

    .checklist-filter {
      display: block;

      .flow-checklist {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .flow-checklist-item {
          display: flex;
          justify-content: center;
          vertical-align: middle;
          align-items: center;

          height: 2rem;
          width: 2.5rem;
          padding: 0;
          
          font-size: markup-to-rem(12px, 12px);
          font-weight: map.get($weights-map, 'medium');

          cursor: pointer;

          &.active {
            @include with-theme-color('control-bg') using($css-var) {
              background-color: var($css-var);
            }
          }
        }
      }

      .list-checklist {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 8px;

        .list-checklist-item {
          font-size: markup-to-rem(14px);
        }
      }

      .list-checklist-toggler {
        border: none;
        @include with-theme-color('filter-panel-ctrl-btn') using($css-var) {
          color: var($css-var);
        }
        padding: map.get($spacings, '2');
        font-size: markup-to-rem(14px);
      }
    }

    .apply-filter-btn, .reset-filter-btn {
      width: 100%;
      white-space: initial;
    }
  }

  .display-options {
    width: 100%;
    display: contents;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    @include for-medium-and-large() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .offers-list-display-options {
      width: 100%;

      .other-options-button-div {
        .option-button-icon {
          display: none;
          @include for-small-and-above() {
            display: block;
          }
        }
      }
    }

    .display-options-additional-div {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @include with-font-size('body-secondary');

      .display-options-summary {
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .display-options-total-count {
          font-weight: map.get($weights-map, 'semi-bold');
          @include with-theme-color('highlighted-info') using ($css-var) {
            color: var(#{$css-var});
          }
        }
      }

      .display-options-secondary-sort-div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: clip;

        .display-options-secondary-sort-label {
          white-space: nowrap;
        }
      }      
    }
  }

  .result-items-list {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    @include for-medium-and-large() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .result-list-item-div {
      &:not(:first-child) {
        margin-top: map.get($spacings, '4');
        @include for-small-and-above() {
          margin-top: map.get($spacings, '5');  
        }
      }
    }
  }

  .list-paging {
    width: 100%;
    height: auto;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    @include for-medium-and-large() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    .list-paging-btn {
      width: 100%;
    }
  }

  .error-helm {
    border-radius: map.get($borders-radius, '5');

    .error-helm-stub {
      min-height: 200px;
    }
  }
}
