@use "sass:map";
@use 'system' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';

.privacy-page {
  padding-left: var(--#{$prefix}-page-padding-x);
  padding-right: var(--#{$prefix}-page-padding-x);
  padding-top: var(--#{$prefix}-page-padding-y);
  padding-bottom: var(--#{$prefix}-page-padding-y);

  @include with-theme-color('primary') using ($css-var) {
    color: var($css-var);
  }

  .privacy-title, h5 {
    @include with-theme-color('input-ctrl-primary') using ($css-var) {
      color: var($css-var);
    }
  }

  tr td {
    display: table-cell;
  }

  .privacy-section {
    margin-top: map.get($spacings, '4');
    @include for-medium-and-large() {
      margin-top: map.get($spacings, '5');
    }
  }

  .privacy-paragraph {
    margin-top: map.get($spacings, '3');

    li {
      margin-top: map.get($spacings, '2');
    }

    .privacy-paragraph-statement-dashed {
      margin-left: map.get($spacings, '3');
    }
  }

  .privacy-purpose-table {
    text-align: left;

    @include with-theme-color('control-frame') using($css-var) {
      th, tr, td {
        border: 1px solid var($css-var);
      }
    }

    th, td {
      padding: map.get($spacings, '1') map.get($spacings, '2') map.get($spacings, '1') map.get($spacings, '2');
    }

    .privacy-purpose-table-listvalues {
      display: inline-grid;
      list-style: inside;

      li {
        margin-top:  map.get($spacings, '1');
        &:last-child {
          margin-bottom: map.get($spacings, '1');
        }
      }
    }
  }
}