@use 'sass:map';
@use 'sass:math';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;

.stay-book-page {
  padding-left: var(--#{$prefix}-page-padding-x);
  padding-right: var(--#{$prefix}-page-padding-x);
  padding-top: var(--#{$prefix}-page-padding-y);
  padding-bottom: var(--#{$prefix}-page-padding-y);

  & > .stay-book-page-error-helm > .error-helm-stub {
    min-height: 140px;
    border-radius: map.get($borders-radius, '4');
  }

  .text-data-loading {
    height: 1em;
    min-width: 80px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
  }

}