@use 'sass:map';
@use 'sass:math';
@use 'system' as *;
@use 'buttons' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';


$stay-image-border-radius: map.get($borders-radius, '3');
@mixin reset-border-radius() {
  border-top-left-radius: unset;  
  border-top-right-radius: unset; 
  border-bottom-left-radius: unset;  
  border-bottom-right-radius: unset;  
  .static-image-stub {
    border-top-left-radius: unset;  
    border-top-right-radius: unset; 
    border-bottom-left-radius: unset;  
    border-bottom-right-radius: unset;  
  }
  img {
    border-top-left-radius: unset;  
    border-top-right-radius: unset; 
    border-bottom-left-radius: unset;  
    border-bottom-right-radius: unset;  
  }
}

@mixin with-top-left-border-radius() {
  border-top-left-radius: $stay-image-border-radius;
  .static-image-stub {
    border-top-left-radius: $stay-image-border-radius;
  }
  img {
    border-top-left-radius: $stay-image-border-radius;
  }
}

@mixin with-top-right-border-radius() {
  border-top-right-radius: $stay-image-border-radius;
  .static-image-stub {
    border-top-right-radius: $stay-image-border-radius;
  }
  img {
    border-top-right-radius: $stay-image-border-radius;
  }
}

@mixin with-bottom-right-border-radius() {
  border-bottom-right-radius: $stay-image-border-radius;
  .static-image-stub {
    border-bottom-right-radius: $stay-image-border-radius;
  }
  img {
    border-bottom-right-radius: $stay-image-border-radius;
  }
}

@mixin with-bottom-left-border-radius() {
  border-bottom-left-radius: $stay-image-border-radius;
  .static-image-stub {
    border-bottom-left-radius: $stay-image-border-radius;
  }
  img {
    border-bottom-left-radius: $stay-image-border-radius;
  }
}

@mixin with-rooms-list-separator() {
  @include with-theme-color('control-group-divisor') using ($css-var) {
    border-bottom: 1px solid var($css-var);
  }
}


@mixin with-review-editor-content-styling() {
  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul li p::before {
    content: '• ';
    display: inline;
  }

  ol { 
    counter-reset: item;
    li { 
      display: block;
      &::before {
        content: counters(item, ".") ". "; 
        counter-increment: item;
      }

      p {
        display: inline-block;
      }
    }
  }

  blockquote {
    $review-editor-quote-icon-size: 20px;

    display: inline-block;
    padding: map.get($spacings, '1');
    border-radius: map.get($borders-radius, '2');

    min-height: calc(2rem + $review-editor-quote-icon-size);

    @include with-theme-color('review-editor-quotation-bg') using ($css-var) {
      background-color: var($css-var);
    }

    @include with-theme-color('select-ctrl-highlight-bg') using ($css-var) {
      border-left: 4px solid var($css-var);
    }

    p {
      padding-left: map.get($spacings, '1');
      display: inline-block;
    }

    &, &::before, &::after {
      @include with-theme-color('review-editor-quotation') using ($css-var) {
        color: var($css-var);
      } 
    }
    
    &::before {
      display: block;
    }

    &::after {
      display: block;
      float: right;

      width: $review-editor-quote-icon-size;
      height: $review-editor-quote-icon-size;
      margin-right: map.get($spacings, '2');
      margin-left: map.get($spacings, '4');
      margin-bottom: 0;

      -webkit-mask-image: url('~/public/img/icon-quote.svg');
      mask-image: url('~/public/img/icon-quote.svg'); 
      
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;

      @include with-theme-color('review-editor-quotation') using ($css-var) {
        background-color: var($css-var);
        opacity: 60%;
      } 
      content: '';
    }
  }
}

.stay-details-page { 
  padding-left: var(--#{$prefix}-page-padding-x);
  padding-right: var(--#{$prefix}-page-padding-x);
  padding-top: var(--#{$prefix}-page-padding-y);
  padding-bottom: var(--#{$prefix}-page-padding-y);

  .text-data-loading {
    height: 1em;
    min-width: 80px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
  }

  & > .stay-details-page-error-helm > .error-helm-stub {
    min-height: 140px;
    border-radius: map.get($borders-radius, '4');
  }

  .stay-images {
    display: grid;
    width: 100%;
    height: auto;
    gap: 8px;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    @include for-medium-and-large() {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
    }
    @include for-extra-large-only() {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: auto auto;
    }

    .stay-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .stay-image-0 {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      @include reset-border-radius();
      @include with-top-left-border-radius();
      @include with-top-right-border-radius();

      @include for-medium-and-large() {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      @include for-extra-large-only() { 
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        @include reset-border-radius();
        @include with-top-left-border-radius();
        @include with-bottom-left-border-radius();
      }
    }

    .stay-image-1 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      @include for-medium-and-large() {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      @include for-extra-large-only() { 
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    .stay-image-2 {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end:2;
      @include for-medium-and-large() {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      @include for-extra-large-only() { 
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        @include reset-border-radius();
        @include with-top-right-border-radius();
      }
    }

    .stay-image-3 {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
      @include for-medium-and-large() {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        @include reset-border-radius();
        @include with-bottom-left-border-radius();
      }
      @include for-extra-large-only() { 
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        @include reset-border-radius();
      }
    }

    .stay-image-4 {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 2;
      @include reset-border-radius();
      @include with-bottom-left-border-radius();
      @include with-bottom-right-border-radius();
      @include for-medium-and-large() {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        @include reset-border-radius();
        @include with-bottom-right-border-radius();
      }
      @include for-extra-large-only() { 
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }
  }

  .stay-details-section-separator {
    width: 100%;
    height: 1px;
    display: block;
    @include with-theme-color('control-group-divisor') using ($css-var) {
      background-color: var($css-var);
    }

    margin: 32px 0px 32px 0;
    @include for-medium-and-large() {
      margin: 64px 0px 64px 0;
    }
  }

  .stay-details-overview {
    .stay-details-overview-heading {
      display: block;
      white-space: normal;

      @include with-header-font('5');
      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        color: var(#{$css-var});
      }
    }

    .stay-details-overview-main {
      display: block;
      white-space: normal;

      @include with-body-font('body-primary');
      @include with-theme-color('primary') using ($css-var) {
        color: var(#{$css-var});
      }
    }

    .stay-details-overview-features {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 12px;

      .stay-details-overview-feature {
        flex: 1 1 auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;

        .stay-feature-checkmark {
          $stay-feature-checkmark-size: 1rem;
    
          width: $stay-feature-checkmark-size;
          height: $stay-feature-checkmark-size;
          transform: translateY(calc(min(2px, 0.2rem)));
    
          display: inline-block;
          flex: 0 0 auto;
    
          background-color: transparent;
          @include with-theme-color('control-frame') using($css-var) {
            border: 2px solid var($css-var);
          }
    
          &::before {
            width: $stay-feature-checkmark-size;
            height: $stay-feature-checkmark-size;
            display: block;
            transform: translate(-2px, -2px);
            -webkit-mask-size: $stay-feature-checkmark-size $stay-feature-checkmark-size;
            mask-size: $stay-feature-checkmark-size $stay-feature-checkmark-size;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: escape-svg(svg.$icon-check);
            mask-image: escape-svg(svg.$icon-check);
            content: '';
            @include with-theme-color('input-ctrl-primary') using($css-var) {
              background-color: var($css-var);
            }
          }
        }
        
        .stay-feature-texting {
          flex: 1 1 auto;
          width: fit-content;
          height: auto;

          display: block;
          white-space: normal;

          @include with-body-font('body-primary');
          @include with-theme-color('primary') using ($css-var) {
            color: var(#{$css-var});
          }
          
          .stay-feature-caption {
            font-weight: bold;
            @include with-theme-color('input-ctrl-primary') using ($css-var) {
              color: var(#{$css-var});
            }
          }
        }
      }  
    }    

    .stay-details-overview-highlights-div {
      width: 100%;
      display: block;
      height: min-content;

      .stay-details-overview-highlights {
        width: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 16px;

        .stay-details-highlight-item {
          $stay-details-highlight-item-width: 166px;
          $stay-details-highlight-item-height: 145px;

          flex: 1 1 auto;

          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: space-between;

          width: $stay-details-highlight-item-width;
          max-width: $stay-details-highlight-item-width;
          height: $stay-details-highlight-item-height;
          max-height: $stay-details-highlight-item-height;
          overflow: hidden;

          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }

          &:first-child {
            @include with-theme-color('control-bg') using($css-var) {
              background-color: var($css-var);
            }
          }

          &:not(:first-child) {
            @include with-theme-color('control-bg') using($css-var) {
              border: 1px solid var($css-var);
            }
            background-color: transparent;
          }

          .stay-details-highlight-score {
            display: block;
            @include with-header-font('3');
          }

          .stay-details-highlight-summary {
            display: block;

            .stay-highlight-review-class {
              display: block;
              font-weight: map.get($weights-map, 'bold');
            } 

            .stay-highlight-reviews-count {
              display: block;
              @include with-body-font('secondary');
            } 
          }

          .stay-details-highlight-icon {
            $stay-details-highlight-icon-size: 32px;

            display: block;

            width: $stay-details-highlight-icon-size;
            height: $stay-details-highlight-icon-size;
            display: block;
            -webkit-mask-size: $stay-details-highlight-icon-size $stay-details-highlight-icon-size;
            mask-size: $stay-details-highlight-icon-size $stay-details-highlight-icon-size;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: url('~/public/img/icon-stars.svg');
            mask-image: url('~/public/img/icon-stars.svg');
            content: '';
            @include with-theme-color('input-ctrl-primary') using($css-var) {
              background-color: var($css-var);
            }
          }

          .stay-details-highlight-text {
            display: block;
            @include with-body-font('primarbody-primaryy');
          }
        }
      }
    }
  }

  .stay-available-rooms {
    @include with-theme-color('input-ctrl-primary') using ($css-var) {
      color: var(#{$css-var});
    }

    .available-rooms-title {
      display: block;
      white-space: normal;

      @include with-header-font('5');  
    }

    .available-rooms-list-div {
      $available-rooms-list-separator-padding: map.get($spacings, '3');

      width: 100%;
      display: block;
      height: min-content;

      .available-rooms-list {
        display: grid;
        align-items: center;
        grid-auto-flow: row;
        grid-template-columns: auto 1fr;
        
        @include for-small-and-above() {
          grid-template-columns: auto 1fr max-content;
        }

        .available-room {
          display: contents;

          .available-room-image-div {
            grid-column-start: 1;
            grid-column-end: 2;

            width: 100%;
            height: 100%;

            .available-room-image {
              width: 48px;
              height: 48px;
              
              border-radius: map.get($borders-radius, '1');
              .static-image-stub {
                border-radius: map.get($borders-radius, '1');
              }
              img {
                border-radius: map.get($borders-radius, '1');
              }
            }
            
          }

          .available-room-description-div {
            grid-column-start: 2;
            grid-column-end: 3;

            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;

            .available-room-description {
              @include with-body-font('body-primary');
              width: fit-content;
              height: auto;
            }
          }

          .available-room-booking {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            height: 100%;
            
            
            display: flex;
            gap: 16px;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-items: center;
            @include for-small-and-above() {
              display: block;
              width: 100%;

              grid-column-start: 3;
              grid-column-end: 4;
              gap: 64px;
            }

            .available-room-price {
              font-size: markup-to-rem(24px);
              font-weight: map.get($weights-map, 'bold');

              flex: 0 1 auto;
              justify-self: flex-end;

              @include for-small-and-above() {
                display: inline-block;
                height: 100%;
              }

              .stays-price-night {
                font-size: markup-to-rem(16px);
              }
            }

            .available-room-book-btn {
              display: block;
              height: min-content;

              flex: 1 0 auto;
              width: max-content;
              text-align: center;
              @include for-small-and-above() {  
                float: right;
                width: auto;
                margin-left: 32px;
              }
              @include for-medium-and-large() {
                margin-left: 64px;
              }

              &:focus-visible {
                margin-left: $default-ctrl-outline-margin;
                @include for-small-and-above() {
                  margin-left: unset;
                  margin-right: $default-ctrl-outline-margin;
                }
              }
            }
          }

          &:not(:last-child) {
            @include for-small-and-above() {
              .available-room-image-div, .available-room-description-div {
                @include with-rooms-list-separator();  
              }
            }
            .available-room-booking { 
              @include with-rooms-list-separator();
            }
          }

          &:not(:last-child) {
            @include for-small-and-above() {
              .available-room-image-div, .available-room-description-div {
                padding-bottom: $available-rooms-list-separator-padding;
              }
            }

            .available-room-booking { 
              padding-bottom: $available-rooms-list-separator-padding; 
            }
          }

          .available-room-booking { 
            padding-top: $available-rooms-list-separator-padding;
          }
          &:first-child {
            @include for-small-and-above() {
              .available-room-booking { 
                padding-top: unset;
              }
            }
          }
          &:not(:first-child) {
              .available-room-image-div, .available-room-description-div { 
                padding-top: $available-rooms-list-separator-padding;
              }
          }          
        }
      }
    }
  }

  .stay-details-map {

    .stay-details-map-heading {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .stay-details-map-title {
        flex: 0 1 auto;

        display: block;
        white-space: normal;
  
        @include with-header-font('5');
        @include with-theme-color('input-ctrl-primary') using ($css-var) {
          color: var(#{$css-var});
        }
      }

      .stay-details-map-weblink {
        flex: 0 1 auto;
      }
    }

    .stay-details-map-class {
      width: 100%;
      height: 450px;
      border-radius: map.get($borders-radius, '4');
    }

  }

  .stay-amenities {
    @include with-theme-color('input-ctrl-primary') using ($css-var) {
      color: var($css-var);
    }

    .stay-amenities-title {
      display: block;
      white-space: normal;

      @include with-header-font('5');  
    }

    .stay-amenities-grid {
      display: grid;
      width: 100%;
      height: auto;
      row-gap: 16px;

      grid-template-columns: 1fr;
      grid-auto-flow: row;
      
      overflow-x: hidden;
      justify-content: flex-start;
      align-items: flex-start;

      @include for-small-and-above() {
        row-gap: 24px;  
        column-gap: 100px;

        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));  
      }

      @include for-medium-and-large() {
        //column-gap: 300px;
      }

      .stay-amenities-item {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 100%;
        overflow: hidden;

        @include for-small-and-above() {
          width: max-content;
        }

        .stay-amenities-item-icon {
          width: 24px;
          height: 24px;
    
          display: inline-block;
          
          -webkit-mask-size: contain;
          mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          vertical-align: middle;
    
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            background-color: var($css-var);
          }
        }
    
        .stay-amenities-item-text {
          width: fit-content;
          height: auto;
          white-space: normal;

          @include with-body-font('body-primary');
        }
      }
    }

    .stay-amenities-list-toggler {
      text-align: left;
      border: none;
      padding: 0;
      width: fit-content;
      height: min-content;
      @include with-body-font('body-primary');
      @include with-theme-color('highlighted-info') using($css-var) {
        color: var($css-var);
      }
    }
  }

  .stay-reviews {
    .stay-reviews-heading {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .stay-reviews-title {
        flex: 0 1 auto;

        display: block;
        white-space: normal;
  
        @include with-header-font('5');
        @include with-theme-color('input-ctrl-primary') using ($css-var) {
          color: var(#{$css-var});
        }
      }

      .stay-reviews-addBtn {
        flex: 0 1 auto;
      }
    }

    .stay-reviews-summary {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: map.get($spacings, '3');
      align-items: center;

      width: 100%;
      height: auto;

      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        color: var(#{$css-var});
      }

      .stay-reviews-score {
        font-size: markup-to-rem(50px);
        font-weight: map.get($weights-map, map.get($weights-map, 'bold'));
        font-family: $font-header;
      }

      .stay-reviews-rating {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: map.get($spacings, '2');
        align-items: flex-start;
        
        width: fit-content;
        height: auto;

        .stay-reviews-score-class {
          width: fit-content;
          height: auto;
          white-space: nowrap;

          @include with-header-font('5');
          font-weight: map.get($weights-map, 'semi-bold');
        }

        .stay-reviews-count {
          width: fit-content;
          height: auto;
          white-space: nowrap;

          @include with-body-font('body-secondary');
          font-size: markup-to-rem(14px);  
          
        }        
      }
    }

    .stay-reviews-editor {
      width: 100%;
      height: auto;
    }

    .stay-reviews-list-div {
      $user-avatar-size: 45px;
      $reviews-card-gap: map.get($spacings, '3');
      $reviews-card-height: 100px;

      display: block;
      width: 100%;
      height: auto;

      .stay-reviews-list {
        width: 100%;
        height: auto;

        &:not(.initialized), &.hidden {
          visibility: hidden;
          height: 0px;
        }

        .stay-reviews-list-item {
          width: 100%;
          height: auto;
          display: block;
        }

        .stay-reviews-card {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: $reviews-card-gap;

          flex-wrap: nowrap;

          .stay-reviews-card-avatar {
            flex: 0 0 auto;
            
            width: $user-avatar-size;
            height: $user-avatar-size;
            min-width: $user-avatar-size;
            min-height: $user-avatar-size;
    
            border-radius: 0.5 * $user-avatar-size;
            overflow: hidden;
    
            .stay-reviews-card-avatar-img {
              border-radius: 0.5 * $user-avatar-size;
            }
    
            &.stay-reviews-card-avatar-default {
              mask-image: escape-svg(svg.$icon-user);
              -webkit-mask-image: escape-svg(svg.$icon-user);
              -webkit-mask-size: contain;
              mask-size: contain;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              -webkit-mask-position: center center;
              mask-position: center center;
              vertical-align: middle;
    
              border-radius: 0.5 * $user-avatar-size;
              
              @at-root {
                .stay-reviews-card-avatar-default {
                  @include with-theme-color('input-ctrl-primary') using ($css-var) {
                    background-color: var(#{$css-var});
                  }
                }
              }
            }
          }

          .stay-reviews-card-content-div {
            flex: 1 1 auto;
            width: 100%;
            display: contents;
            height: fit-content;

            .stay-reviews-card-content-scroll {
              height: $reviews-card-height;
              max-height: $reviews-card-height; 
              width: 100%;
            }

            .stay-reviews-card-content {
              width: max-content;
              &.test-user-review {
                width: fit-content;
              }
              height: auto;
              
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              align-items: flex-start;
              gap: 8px;

              font-size: markup-to-rem(14px);
              @include with-body-font('body-primary');
              @include with-theme-color('input-ctrl-primary') using ($css-var) {
                color: var(#{$css-var});
              }

              .stay-reviews-card-scoring {
                width: fit-content;
                height: auto;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-self: flex-start;
                
                gap: 8px;

                @include with-body-font('body-primary');
                font-weight: map.get($weights-map, 'semi-bold');

                @include for-small-and-above() {
                  flex-direction: row;
                  flex-wrap: wrap;
                  align-items: center;
                }

                .stay-reviews-card-score-class {
                  white-space: nowrap;
                }

                .stay-reviews-card-scoring-separator {
                  width: 2px;
                  height: 1rem;

                  display: none;
                  @include for-small-and-above() {
                    display: block;
                  }

                  @include with-theme-color('input-ctrl-primary') using ($css-var) {
                    background-color: var(#{$css-var});
                  }
                }

                .stay-reviews-card-username {
                  white-space: nowrap;
                }
              }

              .stay-reviews-card-text {
                width: 100%;
                height: auto;
                display: block;

                white-space: normal;
              }

              @include with-review-editor-content-styling();
            }
          }

          .stay-reviews-card-buttons-div {
            flex: 0 0 max-content;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            gap: 8px;

            .stay-reviews-card-flag {
              $review-card-icon-size: 20px;
  
              width: $review-card-icon-size;
              height: $review-card-icon-size;
              display: block;
              float: right;
  
              -webkit-mask-size: contain;
              mask-size: contain;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              -webkit-mask-position: center center;
              mask-position: center center;
             
              -webkit-mask-image: url('~/public/img/icon-flag.svg');
              mask-image: url('~/public/img/icon-flag.svg'); 
              @include with-theme-color('secondary') using($css-var) {
                background-color: var($css-var);
              }
            }

            .stay-reviews-card-control-buttons {
              display: contents;
              
              .stay-reviews-card-btn {
                border: none;
                padding: 0;
    
                &::before {
                  @include with-theme-color('secondary') using ($css-var) {
                    background-color: var(#{$css-var});
                  } 
                }
              }
            }
          }
        }        
      }

      .reviews-list-nav-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .reviews-list-nav-btn {
          border: none;
          padding: map.get($spacings, '2');
        }

        .reviews-list-nav-paging {
          @include with-theme-color('input-ctrl-primary') using ($css-var) {
            color: var(#{$css-var});
          }
          @include with-body-font('body-secondary');
          font-size: markup-to-rem(14px);  
          white-space: nowrap;
        }

        &.one-page {
          .reviews-list-nav-btn {
            display: none;
          }
        }
      }

      .reviews-list-noitems-stub {
        width: 100%;
        max-width: 60vw;
        text-align: center;
        white-space: normal;
        margin-left: auto;
        margin-right: auto;

        @include with-header-font('4');
        @include with-theme-color('input-ctrl-primary') using ($css-var) {
          color: var(#{$css-var});
        }
      }

      .error-helm {
        border-radius: map.get($borders-radius, '5');
    
        .error-helm-stub {
          min-height: 200px;
        }
      }    
    }

    .review-item-separator {
      $stay-details-review-item-xs-margin: 12px;
      $stay-details-review-item-s-margin: 24px;
      margin: $stay-details-review-item-xs-margin 0 $stay-details-review-item-xs-margin 0;
      @include for-small-and-above() {
        margin: $stay-details-review-item-s-margin 0 $stay-details-review-item-s-margin 0;
      }
    }
  }

  .stay-reviews-waiting-indicator {
    height: 100px;
  }
}

.review-editor {
  width: 100%;
  height: 200px;
  @include for-small-and-above() {
    height: 300px;    
  }

  @include with-theme-color('input-ctrl-primary') using($css-var) {
    color: var($css-var);
    button {
      color: var($css-var);
    }
  }

  .review-editor-container {
    width: inherit;
    height: inherit;
  }

  .review-editor-buttons {
    $review-editor-button-size: 20px;
    $review-editor-button-padding: map.get($spacings, '3');
    $review-editor-button-icon-offset: 0.5 * $review-editor-button-padding + 2px;

    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: map.get($spacings, '3');

    .review-editor-button {      
      display: block;
      flex: 0 0 auto;
      width: 1.25 * $review-editor-button-size;
      height: 1.25 * $review-editor-button-size;
      padding: $review-editor-button-padding;
  
      line-height: normal;
  
      &:before {
        display: block;
        width: $review-editor-button-size;
        height: $review-editor-button-size;

        transform: translate(-$review-editor-button-icon-offset, -$review-editor-button-icon-offset);

        margin-right: 4px;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        
        @include with-theme-color('primary') using($css-var) {
          background-color: var($css-var);
        }
        content: '';
      }
  
      &:not(.disabled) {
        &:focus-visible, &:hover {
          @include with-outline();
        }

        &.active {
          @include with-theme-color('select-ctrl-highlight-bg') using($css-var) {
            background-color: var($css-var);
          }
        }
      }
  
      &.disabled {
        &::before {
          @include with-theme-color('ctrl-disabled') using($css-var) {
            background-color: var($css-var);
          } 
        }
      }
    }
    
    .editor-icon-bold {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-bold.svg');
        mask-image: url('~/public/img/icon-bold.svg'); 
      }
    }
  
    .editor-icon-italic {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-italic.svg');
        mask-image: url('~/public/img/icon-italic.svg'); 
      }
    }
  
    .editor-icon-strikethrough {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-strikethrough.svg');
        mask-image: url('~/public/img/icon-strikethrough.svg'); 
      }
    }

    .editor-icon-underline {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-underline.svg');
        mask-image: url('~/public/img/icon-underline.svg'); 
      }
    }
  
    .editor-icon-bullet-list {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-list-bullet.svg');
        mask-image: url('~/public/img/icon-list-bullet.svg'); 
      }
    }
  
    .editor-icon-ordered-list {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-list-numbered.svg');
        mask-image: url('~/public/img/icon-list-numbered.svg'); 
      }
    }
  
    .editor-icon-blockquote {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-quote.svg');
        mask-image: url('~/public/img/icon-quote.svg'); 
      }
    }
  
    .editor-icon-undo {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-undo.svg');
        mask-image: url('~/public/img/icon-undo.svg'); 
      }
    }
  
    .editor-icon-redo {
      &::before {
        -webkit-mask-image: url('~/public/img/icon-undo.svg');
        mask-image: url('~/public/img/icon-undo.svg'); 
        transform: translate($review-editor-button-icon-offset, -$review-editor-button-icon-offset);
        scale: -1 1;
      }
    }
  }

  .review-editor-control-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    @include for-small-and-above() {
      gap: 24px;
    }

    .btn-icon::before {
      vertical-align: middle;
    }

    .send-review-waiting-indicator {
      width: 2rem;
      height: 2rem;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  .tiptap-div {
    $review-editor-height: 250px;

    width: 100%;
    display: block;
    height: min-content;

    height: $review-editor-height;
    max-height: $review-editor-height;

    padding: map.get($spacings, '2');
    padding-top: 0;
    margin-top: map.get($spacings, '3');
    border-radius: map.get($borders-radius, '3');
    @include with-theme-color('control-frame') using ($css-var) {
      border: 1px solid var($css-var);
    }

    .tiptap-main-scroll {
      padding-top: map.get($spacings, '2');
      padding-bottom: map.get($spacings, '2');
      max-height: $review-editor-height - map.get($spacings, '2');
      height: 100%;
    }
      
    .tiptap {
      width: max-content;
      // Display a Placeholder only for the first line in an empty editor.
      p.is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
        @include with-theme-color('secondary') using($css-var) {
          color: var($css-var);
        }
      }

      @include with-review-editor-content-styling();
    }
  }

  @at-root {
    .review-score-picker {
      height: auto;
      max-width: 80vw;
      overflow-x: hidden;

      .review-score-picker-title {
        width: 100%;
        height: auto;
        white-space: normal;
        text-align: center;

        @include with-header-font('4');
        @include with-theme-color('input-ctrl-primary') using ($css-var) {
          color: var(#{$css-var});
        }
      }
    
      .review-score-picker-div {
        $review-score-picker-item-xs-size: 50px;
        $review-score-picker-item-s-size: 70px;
        $item-size-shadow-adj: 12px;

        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        gap: 8px;
        @include for-small-and-above() {
          gap: 16px;
        }

        .review-score-picker-item {
          display: block;
          flex: 0 0 auto;
          cursor: pointer;

          width: $review-score-picker-item-xs-size;
          height: $review-score-picker-item-xs-size;
          background-image: url('~/public/img/star.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          background-size: ($review-score-picker-item-xs-size - $item-size-shadow-adj) ($review-score-picker-item-xs-size - $item-size-shadow-adj);
          @include for-small-and-above() {
            width: $review-score-picker-item-s-size;
            height: $review-score-picker-item-s-size;
            background-size: ($review-score-picker-item-s-size - $item-size-shadow-adj) ($review-score-picker-item-s-size - $item-size-shadow-adj);
          }

          &:not(.highlight) {
            filter: grayscale(1);
          }
          &.highlight {
            @include with-dark-theme() {
              filter: drop-shadow(4px 4px 4px white);
            }

            @include with-light-theme() {
              filter: drop-shadow(4px 4px 4px rgb(128, 128, 128));
            }
            
          }
        }
      }

      .review-score-picker-cancel-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;

        margin-top: 60px;
      }
    }
  }
}

.amenity-icon-plus-simple {
  -webkit-mask-image: url('~/public/img/icon-plus-simple.svg');
  mask-image: url('~/public/img/icon-plus-simple.svg');
}

.amenity-icon-cup {
  -webkit-mask-image: url('~/public/img/icon-cup.svg');
  mask-image: url('~/public/img/icon-cup.svg');
}

.amenity-icon-fitness {
  -webkit-mask-image: url('~/public/img/icon-fitness.svg');
  mask-image: url('~/public/img/icon-fitness.svg');
}
  
.amenity-icon-pool {
  -webkit-mask-image: url('~/public/img/icon-pool.svg');
  mask-image: url('~/public/img/icon-pool.svg');
}
  
.amenity-icon-restaraunt {
  -webkit-mask-image: url('~/public/img/icon-restaraunt.svg');
  mask-image: url('~/public/img/icon-restaraunt.svg');
}

.amenity-icon-room-service {
  -webkit-mask-image: url('~/public/img/icon-room-service.svg');
  mask-image: url('~/public/img/icon-room-service.svg');
}

.amenity-icon-spa {
  -webkit-mask-image: url('~/public/img/icon-spa.svg');
  mask-image: url('~/public/img/icon-spa.svg');
}

.amenity-icon-wifi {
  -webkit-mask-image: url('~/public/img/icon-wifi.svg');
  mask-image: url('~/public/img/icon-wifi.svg');
}

.icon-nav-prev::before {
  -webkit-mask-image: escape-svg(svg.$icon-right-chevron);
  mask-image: escape-svg(svg.$icon-right-chevron);
  transform: scaleX(-1);
}

.icon-nav-next::before {
  -webkit-mask-image: escape-svg(svg.$icon-right-chevron);
  mask-image: escape-svg(svg.$icon-right-chevron);
}

.icon-delete::before {
  -webkit-mask-image: url('~/public/img/icon-bin.svg');
  mask-image: url('~/public/img/icon-bin.svg');
}

.icon-change::before {
  -webkit-mask-image: url('~/public/img/icon-pen.svg');
  mask-image: url('~/public/img/icon-pen.svg');
}
