@use "sass:map";
@use "sass:color";
@use 'sass:list';
@use "utils" as *;

$calendar-accent-levels: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$active-highlight-percent: 110%;

$ambient-base-light: #112211;
$image-stub-indicator-light: #b1dea8;
$theme-light: (
  'body-bg': 'white',
  'primary': color.adjust(rgba($ambient-base-light, 1.0), $alpha: -0.25),
  'secondary': color.adjust(rgba($ambient-base-light, 1.0), $alpha: -0.5),
  'accent-bg': $ambient-base-light,
  'accent': white,
  'control-bg': #8DD3BB,
  'input-ctrl-primary': $ambient-base-light,
  'input-ctrl-primary-bg': white,
  'input-ctrl-secondary': white,
  'input-ctrl-secondary-bg': $ambient-base-light,
  'select-ctrl-highlight-bg': #8DD3BB,
  'control-frame': #79747E,
  'outline': $ambient-base-light,
  'notification-warning': #f0ff6b,
  'notification-error': #ff4a4a,
  'notification-warning-text': #112211,
  'notification-error-text': white,
  'error-helm-stub': #c11010,
  'error-helm-stub-bg': #ffd4d4,
  'image-stub-indicator': $image-stub-indicator-light,
  'image-stub-bg': color.adjust($image-stub-indicator-light, $lightness: 10%),
  'text-data-loading-indicator': color.adjust(rgba($ambient-base-light, 1.0), $alpha: -0.25),
  'text-data-loading-stub': color.adjust(rgba($ambient-base-light, 1.0), $alpha: -0.5),
  'nav-signup-bg': black,
  'nav-signup': white,
  'account-form-link': #FF8682,
  'account-avatar-frame': #FF8682,
  'subscribe-box-bg': #CDEAE1,
  'review-card-backface-bg': #CDEAE1,
  'shadow': color.adjust(rgba($ambient-base-light, 1.0), $alpha: -0.85),
  'control-group-divisor': #D7E2EE,
  'property-grid-edit-highlight': #CDEAE1,
  'world-map-bg': #8DD3BB,
  'travel-details-ctrl-bg': white,
  'travel-details-ctrl': $ambient-base-light,
  'footer-bg': #8DD3BB,
  'travel-details-texting': $ambient-base-light,
  'badge': #8DD3BB,
  'control-bg-scrollbar': rgba(255, 255, 255, 0.5),
  'filter-panel-ctrl-btn': #FF8682,
  'highlighted-info': #FF8682
);

$ambient-base-dark: #FFFFFF;
$image-stub-indicator-dark: #3B3B3B;
$theme-dark: (
  'body-bg': #2B2B2B,
  'primary': color.adjust(rgba($ambient-base-dark, 1.0), $alpha: -0.25),
  'secondary': color.adjust(rgba($ambient-base-dark, 1.0), $alpha: -0.5),
  'accent-bg': $ambient-base-dark,
  'accent': black,
  'control-bg': #A259FF,
  'input-ctrl-primary': $ambient-base-dark,
  'input-ctrl-primary-bg': #2B2B2B,
  'input-ctrl-secondary': #2B2B2B,
  'input-ctrl-secondary-bg': $ambient-base-dark,
  'select-ctrl-highlight-bg': #A259FF,
  'control-frame': #79747E,
  'outline': $ambient-base-dark,
  'notification-warning': #f0ff6b,
  'notification-error': #ff4a4a,
  'notification-warning-text': #112211,
  'notification-error-text': white,
  'error-helm-stub': #c11010,
  'error-helm-stub-bg': #ffd4d4,
  'image-stub-indicator': $image-stub-indicator-dark,
  'image-stub-bg': color.adjust($image-stub-indicator-dark, $lightness: 10%),
  'text-data-loading-indicator': color.adjust(rgba($ambient-base-dark, 1.0), $alpha: -0.25),
  'text-data-loading-stub': color.adjust(rgba($ambient-base-dark, 1.0), $alpha: -0.5),
  'nav-signup-bg': white,
  'nav-signup': black,
  'account-form-link': #FF8682,
  'account-avatar-frame': #FF8682,
  'subscribe-box-bg': #3B3B3B,
  'review-card-backface-bg': #3B3B3B,
  'shadow': color.adjust(rgba($ambient-base-dark, 1.0), $alpha: -0.85),
  'control-group-divisor': #D7E2EE,
  'property-grid-edit-highlight': #3B3B3B,
  'world-map-bg': #A259FF,
  'travel-details-ctrl-bg': white,
  'travel-details-ctrl': black,
  'footer-bg': #676767,
  'travel-details-texting': #112211,
  'badge': #676767,
  'control-bg-scrollbar': rgba(255, 255, 255, 0.5),
  'filter-panel-ctrl-btn': #FF8682,
  'highlighted-info': #FF8682
);

@mixin compile-theme($theme-name, $colormap) {
  :root[data-theme="#{$theme-name}"] {
    @each $name, $rgba in $colormap { 
      --#{$prefix}-col-#{$name}: #{$rgba};
    }
  }
}
@include compile-theme('light', $theme-light);
@include compile-theme('dark', $theme-dark); 

@mixin with-light-theme() {
  @at-root :root[data-theme="light"] & {
    @content
  }
}

@mixin with-dark-theme() {
  @at-root :root[data-theme="dark"] & {
    @content
  }
}

@mixin with-theme-color($color-name) {
  @content(--#{$prefix}-col-#{$color-name});
}

@mixin with-theme-color-scss($color-name) {
  @include with-light-theme() {
    @content(map.get($theme-light, $color-name));
  }

  @include with-dark-theme() {
    @content(map.get($theme-dark, $color-name));
  }
}
