@use 'system' as *;
@use 'utils' as *; 

// Navbar page links dropdown animation

.nav-page-links-enter-active,
.nav-page-links-leave-active {
  transition: max-height $navbar-toggle-animation-interval ease-out;
}

.nav-page-links-enter-from,
.nav-page-links-leave-to {
  max-height: 0;
}

.nav-page-links-enter-to,
.nav-page-links-leave-from {
  max-height: $navbar-toggle-max-height;
}

@media (prefers-reduced-motion) {
  .nav-page-links-enter-active,
  .nav-page-links-leave-active {
    transition: unset;
  }
}


// Travel Details block animation

.travel-details-fade-enter-active,
.travel-details-fade-leave-active {
  transition: opacity $transition-default-interval linear;
}

.travel-details-fade-enter-from,
.travel-details-fade-leave-to {
  opacity: 0;
}

@media (prefers-reduced-motion) {
  .travel-details-fade-enter-active,
  .travel-details-fade-leave-active {
    transition: unset;
  }
  
  .travel-details-fade-enter-from,
  .travel-details-fade-leave-to {
    opacity: unset;
  } 
}

// Collapsable Section animation

.collapsable-section-enter-active,
.collapsable-section-leave-active {
  transition: max-height 0.5s ease-out;
}

.collapsable-section-enter-from,
.collapsable-section-leave-to {
  max-height: 0;
}

.collapsable-section-enter-to,
.collapsable-section-leave-from {
  max-height: var(--#{$prefix}-collapsable-section-height);
}

@media (prefers-reduced-motion) {
  .collapsable-section-enter-active,
  .collapsable-section-leave-active {
    transition: unset;
  }

  .collapsable-section-enter-from,
  .collapsable-section-leave-to {
    max-height: unset;
  }

  .collapsable-section-enter-to,
  .collapsable-section-leave-from {
    max-height: unset;
  }
}

