@use "sass:map";
@use 'system' as *;
@use 'themes' as *;
@use 'utils' as *;
@use 'svg';

$user-cover-border-radius: map.get($borders-radius, '3');
$user-avatar-xsmall-size: 100px;
$user-avatar-small-size: 120px;
$user-avatar-normal-size: 160px;
$user-avatar-btn-size: 44px;
$user-avatar-box-xsmargin-top: 40px;
$user-avatar-box-margin-top: 60px;

.user-account-page {
  padding-left: var(--#{$prefix}-page-padding-x);
  padding-right: var(--#{$prefix}-page-padding-x);
  padding-top: var(--#{$prefix}-page-padding-y);
  padding-bottom: var(--#{$prefix}-page-padding-y);

  width: 100%;

  .profile-images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .user-account-contacts {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    margin-top: $user-avatar-box-xsmargin-top;
    @include for-small-and-above() {
      margin-top: $user-avatar-box-margin-top;
    }

    .user-name {
      flex: 1 1 auto;
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 6px;

      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        color: var(#{$css-var});
      }
      
      .first-name, .last-name {
        flex: 0 1 auto;

        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include with-body-font('category-caption');
        font-size: 24px;
      }
    }

    .user-email {
      flex: 1 1 auto;
      width: 100%;

      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include with-theme-color('primary') using ($css-var) {
        color: var($css-var);
      }
      @include with-body-font('body-primary');
    }
  }

  .user-account-page-tabs-control {
    width: 100%;

    .option-button-div {
      justify-content: center;
    }
    .option-button-text {
      display: none!important;
    }
    @include for-small-and-above() {
      .option-button-icon {
        display: none!important;
      }
      .option-button-text {
        display: block!important;
      }
    }
  }
}

.user-cover {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  width: 100%;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  min-height: 300px;

  .user-cover-upload-btn {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    align-self: flex-end;
    justify-self: flex-end;
    z-index: 2;

    margin-bottom: map.get($spacings, '2');
    margin-right: map.get($spacings, '2');
    @include for-small-and-above() {
      margin-bottom: map.get($spacings, '4');
      margin-right: map.get($spacings, '4');
    }

    &:hover {
      cursor: pointer;
    }

    &::-webkit-file-upload-button {
      display: none;
    }
  }

  .user-cover-image-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    width: 100%;

    border-radius: $user-cover-border-radius;
    .user-cover-image-el {
      border-radius: $user-cover-border-radius;
    }
    .static-image-stub {
      border-radius: $user-cover-border-radius;
    }
  }
}

.avatar-box {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  
  z-index: 2;

  align-self: flex-end;
  justify-self: flex-start;  

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  transform: translateY($user-avatar-box-xsmargin-top);
  @include for-small-and-above() {
    transform: translateY($user-avatar-box-margin-top);
  }
  

  width: $user-avatar-xsmall-size;
  height: $user-avatar-xsmall-size;
  @include for-small-and-above() {
    width: $user-avatar-small-size;
    height: $user-avatar-small-size;  
  }
  @include for-medium-and-large() {
    width: $user-avatar-normal-size;
    height: $user-avatar-normal-size;  
    justify-self: center;
  }

  @include with-theme-color('account-avatar-frame') using($css-var) {
    border: 4px solid var($css-var);
    background-color: var($css-var);
  }    

  border-radius: calc($user-avatar-small-size / 2);
  @include for-small-and-above() {
    border-radius: calc($user-avatar-normal-size / 2);
  }

  .user-avatar-image-container {
    width: 100%;
    height: 100%;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    @include with-theme-color('body-bg') using($css-var) {
      background-color: var($css-var);
    } 

    border-radius: calc($user-avatar-small-size / 2);
    @include for-small-and-above() {
      border-radius: calc($user-avatar-normal-size / 2);
    }
    .user-avatar-image-el {
      border-radius: calc($user-avatar-small-size / 2);
      @include for-small-and-above() {
        border-radius: calc($user-avatar-normal-size / 2);
      }
    }
    .static-image-stub {
      border-radius: calc($user-avatar-small-size / 2);
      @include for-small-and-above() {
        border-radius: calc($user-avatar-normal-size / 2);
      }
    }
  }  

  &.avatar-default {
    .user-avatar-image-el {
      @include with-dark-theme() {
        filter: invert(1);
      }
    }
  }

  .user-avatar-upload-btn {
    width: calc($user-avatar-btn-size * $user-avatar-small-size / $user-avatar-normal-size);
    height: calc($user-avatar-btn-size * $user-avatar-small-size / $user-avatar-normal-size);
    max-width: calc($user-avatar-btn-size * $user-avatar-small-size / $user-avatar-normal-size);
    max-height: calc($user-avatar-btn-size * $user-avatar-small-size / $user-avatar-normal-size);

    background-image: url('~/public/img/icon-pen.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: bottom;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    align-self: flex-end;
    justify-self: flex-end;
    
    z-index: 3;

    margin: 0;

    &:hover {
      cursor: pointer;
    }

    @include with-theme-color('account-avatar-frame') using($css-var) {
      background-color: var($css-var);
    }

    border-radius: calc($user-avatar-small-size / 2);
    @include for-small-and-above() {
      width: $user-avatar-btn-size;
      height: $user-avatar-btn-size;
      max-width: $user-avatar-btn-size;
      max-height: $user-avatar-btn-size;
      border-radius: calc($user-avatar-normal-size / 2);
    }
  }
}

.account-page-waiting-indicator {
  height: 100px;
}

.account-page-content {
  margin-top: 40px;

  .account-page-tab, .account-tab-container {
    width: 100%;
    height: 100%;
  }

  .account-page-tab-name {
    word-break: break-word;
    width: fit-content;
    display: inline-block;
    @include with-theme-color('input-ctrl-primary') using ($css-var) {
      color: var(#{$css-var});
    }
  }
  
  .error-helm-stub {
    min-height: 200px;
  }
}

.account-tab-account {
  display: block;
  width: 100%;
  height: auto;

  @include with-theme-color('shadow') using($css-var) {
    box-shadow: 0px 4px 16px var($css-var);
  }
}

.account-tab-history {
  @include with-theme-color('input-ctrl-primary') using ($css-var) {
    color: var(#{$css-var});
  }

  width: 100%;
  display: inline-block;

  @at-root {
    .account-tab-history-head {
      width: 100%;
      height: 100%;
      display: block;

      .account-tab-history-dropdown {
        float: right;
        width: fit-content;
    
        .account-tab-history-dropdown-list {
          font-size: markup-to-rem(14px);
        }
  
        .dropdown-list-field-frame {
          border: none;
        }
  
        .dropdown-list-btn  {
          text-align: right;
          &::after {
            margin-left: map.get($spacings, '1');
          }
        }
      }
    }
  }

  .option-button-div {
    justify-content: center;
    .option-button-text {
      display: none!important;
    }
    @include for-small-and-above() {
      justify-content: flex-start;
      .option-button-text {
        display: block!important;
      }
    }
  }

  .ticket-card-container {
    width: 100%;
    height: auto;
    display: grid;
    
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: map.get($spacings, '3');
    @include for-large-and-extra-large() {
      grid-template-rows: auto;
      grid-template-columns: 1fr auto;
      gap: map.get($spacings, '5');
    }

    border-radius: 12px;
    @include with-theme-color('shadow') using($css-var) {
      box-shadow: 0px 4px 16px var($css-var);
    }

    .ticket-card-slot {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;

      width: auto;
      overflow-x: hidden;
    }

    .ticket-card-buttons-div {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      height: 100%;
      
      @include for-large-and-extra-large() {
        width: fit-content;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;

        padding-left: map.get($spacings, '5');
      }

      .ticket-card-buttons {
        width: 100%;
        height: min-content;
  
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        gap: map.get($spacings, '3');
  
        .ticket-card-button-download {
          flex: 1 1 auto;
          width: 100%;
          white-space: nowrap;
          @include for-large-and-extra-large() {
            width: fit-content;
          }
        }
  
        .ticket-card-booking-link {
          flex: 0 1 auto;
  
          width: max-content;
          height: 100%;
    
          &.icon-nav-link::before {
            -webkit-mask-image: escape-svg(svg.$icon-right-chevron);
            mask-image: escape-svg(svg.$icon-right-chevron);
            margin: 0;
          }

          &:hover {
            filter: unset;
          }
        } 
      }
      
      
    }
  }

  .ticket-card {
    width: 100%;
    height: auto;

    display: grid;
    align-items: center;
    row-gap: map.get($spacings, '3');
    grid-auto-flow: row;
    grid-template-columns: repeat(3, min-content) 1fr;
    @include for-extra-large-only() {
      grid-template-columns: repeat(4, min-content) 1fr;
    }

    .ticket-card-div, .ticket-card-general {
      display: contents;
      width: max-content;
      height: auto;
    }
    
    .ticket-card-timings {
      &.from {
        grid-column-start: 2;
        grid-column-end: 3;
      }
  
      &.to {
        grid-column-start: 4;
        grid-column-end: 5;
  
        @include for-large-and-extra-large() {
          border-right: unset;
        }
  
        @include for-extra-large-only() {
          @include with-theme-color('control-group-divisor') using ($css-var) {
            border-right: 1px solid var($css-var);
          }
        }
      }
  
      display: block;
      width: 100%;
      height: auto;
  
      .ticket-card-caption {
        display: block;
        white-space: nowrap;
        
        @include with-body-font('body-primary');
        @include with-theme-color('secondary') using($css-var) {
          color: var($css-var);
        }
      }
  
      .ticket-card-sub {
        display: block;
        white-space: nowrap;
  
        font-size: markup-to-rem(24px);
        font-weight: map.get($weights-map, 'semi-bold');
        @include with-theme-color('input-ctrl-primary') using($css-var) {
          color: var($css-var);
        }
      }
    }
  
    .ticket-card-timings-separator {
      grid-column-start: 3;
      grid-column-end: 4;
  
      width: 20px;
      height: 3px;
      display: block;
      align-self: center;
      margin-top: auto;
      margin-bottom: auto;
  
      @include with-theme-color('input-ctrl-primary') using ($css-var) {
        background-color: var($css-var);
      }
    }

    .ticket-card-image {
      grid-column-start: 1;
      grid-column-end: 2;

      display: block;

      @include with-theme-color('control-bg') using ($css-var) {
        border: 1px solid var($css-var);
      }

      &.ticket-flight-card-company-logo {
        $ticket-card-logo-size: 80px;
        width: $ticket-card-logo-size;
        height: $ticket-card-logo-size;
        min-width: $ticket-card-logo-size;
        min-height: $ticket-card-logo-size;

        .ticket-flight-card-company-logo-img {
          object-fit: cover;
        }
      }

      &.ticket-stay-card-hotel-logo {
        $ticket-card-logo-size: 100px;
        width: $ticket-card-logo-size;
        height: $ticket-card-logo-size;
        min-width: $ticket-card-logo-size;
        min-height: $ticket-card-logo-size;

        .booking-ticket-stay-title  {
          width: 100%;
          height: 100%;
          overflow: hidden;
          padding: 0;
          .booking-ticket-stay-name, .booking-ticket-stay-city {
            font-size: 8px;
            width: fit-content;
          }
        }
      }
    }

    .ticket-card-details {
      grid-column-start: 1;
      grid-column-end: 5;
      @include for-extra-large-only() {
        grid-column-start: 5;
        grid-column-end: 6;
      }

      width: 100%;
      height: auto;

      .booking-ticket-details {
        margin-left: 0;
        margin-right: 0;
        @include for-extra-large-only() {
          margin-left: map.get($spacings, '4');
          min-width: markup-to-rem(380px);
        }
      }
    }
  }
}

.account-tab-payments {
  .tab-payments-container {
    width: auto;
    overflow-x: hidden;

    .payment-cards-grid {
      $payment-card-width: markup-to-rem(378px);

      width: 100%;
      height: auto;
      display: grid;
      gap: map.get($spacings, '4');
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      justify-items: center;
      @include for-small-and-above() {
        grid-template-columns: repeat(auto-fill, $payment-card-width);
        justify-items: flex-start;
      };
      .add-new-card, .payment-card {
        width: 100%;
        max-width: $payment-card-width;
        height: markup-to-rem(212px);
        @include for-small-and-above() {
          width: $payment-card-width;
        }
      }
    }
  }
}

.icon-upload::before {
  -webkit-mask-image: url('~/public/img/icon-upload.svg');
  mask-image: url('~/public/img/icon-upload.svg');
}

.icon-pen::before {
  -webkit-mask-image: url('~/public/img/icon-pen.svg');
  mask-image: url('~/public/img/icon-pen.svg');
}

.icon-check::before {
  -webkit-mask-image: escape-svg(svg.$icon-check);
  mask-image: escape-svg(svg.$icon-check);
}

.icon-cross::before {
  -webkit-mask-image: escape-svg(svg.$icon-cross);
  mask-image: escape-svg(svg.$icon-cross);
  margin-bottom: 0.05rem;
}

.icon-like::before {
  -webkit-mask-image: url('~/public/img/icon-like.svg');
  mask-image: url('~/public/img/icon-like.svg');
}

.icon-heart::before {
  -webkit-mask-image: url('~/public/img/icon-heart.svg');
  mask-image: url('~/public/img/icon-heart.svg');
}

.option-button-icon-user {
  -webkit-mask-image: escape-svg(svg.$icon-user);
  mask-image: escape-svg(svg.$icon-user);
}

.option-button-icon-history {
  -webkit-mask-image: url('~/public/img/icon-history.svg');
  mask-image: url('~/public/img/icon-history.svg');
}

.option-button-icon-payments {
  -webkit-mask-image: url('~/public/img/icon-credit-card.svg');
  mask-image: url('~/public/img/icon-credit-card.svg');
}