@use "sass:map";

$prefix: 'glb';

$breakpoints: (
  'xs': 375px, // subscribe mailbox control determines
  's': 550px,
  'm': 872px,
  'l': 1040px,
  'xl': 1376px
);
$min-page-width: map.get($breakpoints, 'xs');
$max-page-width: 1800px;

$_bkp-small: map.get($breakpoints, 's');
$_bkp-medium: map.get($breakpoints, 'm');
$_bkp-large: map.get($breakpoints, 'l');
$_bkp-extra-large: map.get($breakpoints, 'xl');

@mixin for-extra-large-only() {
  @media only screen and (min-width: #{$_bkp-extra-large}) {
    @content;
  }
}

@mixin for-large-and-extra-large() {
  @media only screen and (min-width: #{$_bkp-large}) {
    @content;
  }
}

@mixin for-medium-and-large() {
  @media only screen and (min-width: #{$_bkp-medium}) {
    @content;
  }
}

@mixin for-small-and-above() {
  @media only screen and (min-width: #{$_bkp-small}) {
    @content;
  }
}