# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.unlighthouse
.tmp
dist
src/assets/locales

# acsys backend dist
externals
.acsys

# Node dependencies
node_modules

# Logs
logs
*.log

# Cache
.img.cache

# Misc
.DS_Store
.fleet
.idea

# env files
.env.local
.env.**.local
!.env.example

# Tests output
tests/screenshots